{% load static %}
{% load tz %}
{% load vanrental_templatetags %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Dashboard | Passenger Connect</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">

        <link href="{% static 'assets/css/bootstrap-icons.css' %}" rel="stylesheet">

        <link href="{% static 'assets/css/templatemo-topic-listing.css' %}" rel="stylesheet">      

    </head>
    
    <body id="top">

        <main>
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    {% if user.is_authenticated %}
                        <button class='menu-button' id="menu-btn" onclick="openSideBar();">
                            <img src="{% static 'assets/images/car-menu-button.png' %}" class='h-45 w-45'/>
                            <span>Passenger Connect</span>
                        </button>

                        <button class='menu-button-x' id='close-menu-btn' onclick="closeSideBar();">
                            <img src="{% static 'assets/images/car-menu-left-arrow.png' %}" class='h-45 w-45'/>
                            <span>Passenger Connect</span>
                        </button>
                    {% else %}
                        <button class='menu-button'>
                            <img src="{% static 'assets/images/car.svg' %}" class='h-45 w-45'/>
                            <span>Passenger Connect</span>
                        </button>
                    {% endif %}

                    {% if user.is_authenticated %}
                    <div class="d-lg-none ms-auto me-4">
                        <button class="profile-button" onclick="openNotification('mobile');">
                            <img src="{% static 'assets/images/bell-circle.svg' %}"/>
                            <div class='notification-alert'>
                                {% get_unseen_notifications user as unseen_notifications %}
                                {{unseen_notifications}}
                            </div>
                        </button>

                        <button class="profile-button" onclick="openProfile('mobile');">
                            {% get_my_profile user as my_profile %}
                            {% if my_profile %}
                                <img src="{{my_profile}}"/>
                            {% else %}
                                <img src="{% static 'assets/images/default-profile.png' %}"/>
                            {% endif %}
                        </button>

                        <div class="message-box mr-20" id="my-profile-mobile">
                            <ul>
                                <li>
                                    <a href="/profile">
                                        <img src="{% static 'assets/images/account-settings.svg' %}" class="h-30 w-30"/>
                                        My Profile
                                    </a>
                                </li>

                                <li>
                                    <a href="/logout">
                                        <img src="{% static 'assets/images/logout.svg' %}" class="h-30 w-30"/>
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="message-box mr-20" id="my-notification-mobile">
                            <div class='message-box-header'>
                                <p>
                                    Notifications
                                </p>
                            </div>
                            <div class='notification-scroll'>
                                <ul>
                                    {% get_my_notifications user as all_notifications %}
                                    {% if all_notifications|length > 0 %}
                                        {% for notif in all_notifications %}
                                            <li data-message='{{notif.id}}'  class="custom-button {% if not notif.is_seen %}not-seen-bg{% endif %}">
                                                <p>{{notif.message}}</p>
                                            </li>
                                        {% endfor %}
                                    {% else %}
                                        <li>
                                            <p>Cannot find new notifications.</p>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    {% endif %}

    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_1">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_2">Browse Topics</a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_3">How it works</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_4">FAQs</a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_5">Contact</a>
                            </li>

                            {% if not user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="/login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="/signup">Signup</a>
                            </li>
                            {% endif %}
                        </ul>

                        {% if user.is_authenticated %}
                        <div class="d-none d-lg-block">

                            <button class="profile-button" onclick="openNotification('desktop');">
                                <img src="{% static 'assets/images/bell-circle.svg' %}"/>
                                <div class='notification-alert'>
                                    {% get_unseen_notifications user as unseen_notifications %}
                                    {{unseen_notifications}}
                                </div>
                            </button>
                            

                                
                            <button class="profile-button" onclick="openProfile('desktop');">
                                {% get_my_profile user as my_profile %}
                                {% if my_profile %}
                                    <img src="{{my_profile}}"/>
                                {% else %}
                                    <img src="{% static 'assets/images/default-profile.png' %}"/>
                                {% endif %}
                            </button>

                            <div class="message-box mr-100" id="my-profile-desktop">
                                <div class='message-box-header'>
                                    <p>
                                        Profile
                                    </p>
                                </div>
                                <ul>
                                    <li>
                                        <a href="/profile">
                                            <img src="{% static 'assets/images/account-settings.svg' %}" class="h-30 w-30"/>
                                            My Profile
                                        </a>
                                    </li>
    
                                    <li>
                                        <a href="/logout">
                                            <img src="{% static 'assets/images/logout.svg' %}" class="h-30 w-30"/>
                                            Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="message-box mr-100" id="my-notification-desktop">
                                <div class='message-box-header'>
                                    <p>
                                        Notifications
                                    </p>
                                </div>
                                <div class='notification-scroll'>
                                    <ul>
                                        {% get_my_notifications user as all_notifications %}
                                        {% if all_notifications|length > 0 %}
                                            {% for notif in all_notifications %}
                                                <li data-message='{{notif.id}}'  class="custom-button {% if not notif.is_seen %}not-seen-bg{% endif %}">
                                                    <p>{{notif.message}}</p>
                                                </li>
                                            {% endfor %}
                                        {% else %}
                                            <li>
                                                <p>Cannot find new notifications.</p>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                        
                        {% endif %}
                    </div>
                </div>
            </nav>

            {% if user.is_authenticated %}
            <div class="side-bar-header">   
                <div class="side-bar" id="van-rental-sidebar">
                    <div class="van-nav-items">
                        <ul>
                            <li>
                                <a href="/index" class='display-flex'>
                                    <img src="{% static 'assets/images/home-circle.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Homepage
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/dashboard" class='display-flex'>
                                    <img src="{% static 'assets/images/monitor-dashboard.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Dashboard
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/rent-a-van" class='display-flex'>
                                    <img src="{% static 'assets/images/book-heart.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Rent A Van
                                    </div>
                                </a>
                            </li>
                            {% if not user.is_superuser %}
                            <li>
                                <a href="/available-carpooling" class='display-flex'>
                                    <img src="{% static 'assets/images/car-select.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Carpooling
                                        {% get_total_open_carpool as total_open_carpool %} 
                                        {% if total_open_carpool > 0%}
                                            <div class='side-bar-circle-alert'>
                                                {{total_open_carpool}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </a>
                            </li>
                            {% endif %}
                            {% if user.is_superuser %}
                            <li>
                                <a href="/rent-booking" class='display-flex'>
                                    <img src="{% static 'assets/images/book-clock.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Open Bookings
                                        {% get_total_open_bookings as total_open_bookings %} 
                                        {% if total_open_bookings > 0%}
                                            <div class='side-bar-circle-alert'>
                                                {{total_open_bookings}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </a>
                            </li>
                            {% endif %}

                            {% if not user.is_superuser %}
                            <li>
                                <a href="/pending-booking" class='display-flex'>
                                    <img src="{% static 'assets/images/book-alert.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Pending Bookings
                                        {% get_total_pending_bookings user as total_open_bookings %} 
                                        {% if total_open_bookings > 0%}
                                            <div class='side-bar-circle-alert'>
                                                {{total_open_bookings}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </a>
                            </li>
                            {% endif %}
                            
                            <li>
                                <a href="/confirmed-booking" class='display-flex'>
                                    <img src="{% static 'assets/images/book-check.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Confirmed Bookings
                                        {% get_total_confirmed_bookings as total_confirmed_bookings %} 
                                        {% if total_confirmed_bookings > 0 %}
                                            <div class='side-bar-circle-alert'>
                                                {{total_confirmed_bookings}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="/past-booking" class='display-flex'>
                                    <img src="{% static 'assets/images/book-search.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Past Bookingss
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="/past-carpooling" class='display-flex'>
                                    <img src="{% static 'assets/images/car-search.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Past Carpooling
                                    </div>
                                </a>
                            </li>
                            
                            <li>
                                <a href="/cancelled-booking" class='display-flex'>
                                    <img src="{% static 'assets/images/book-cancel.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Cancelled Bookings
                                    </div>
                                </a>
                            </li>
                            
                            <li>
                                <a href="/past-booking" class='display-flex'>
                                    <img src="{% static 'assets/images/book-x.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Rejected Bookings
                                    </div>                                    
                                </a>
                            </li>

                            <li>
                                <a href="/profile" class='display-flex'>
                                    <img src="{% static 'assets/images/settings.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Settings
                                    </div>                                    
                                </a>
                            </li>
                            {% if user.is_superuser %}
                            <li>
                                <a href="/list-of-vans" class='display-flex'>
                                    <img src="{% static 'assets/images/van-icon.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        All Vans
                                    </div>                                    
                                </a>
                            </li>

                            <li>
                                <a href="/pending-drivers" class='display-flex'>
                                    <img src="{% static 'assets/images/pending-driver.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Pending Drivers
                                        {% get_total_pending_drivers as total_pending_drivers %}
                                        {% if total_pending_drivers > 0 %}
                                            <div class='side-bar-circle-alert'>
                                                {{total_pending_drivers}}
                                            </div>
                                        {% endif %}
                                    </div>                                    
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}


            <header class="site-header d-flex flex-column justify-content-center align-items-center -mt-50">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-12">
                            <nav aria-label="breadcrumb" style="display:flex;">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/index">Homepage</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                                </ol>
                            </nav>
                        </div>

                        {% for message in messages %}
                            <div class="alert alert-info alert-dismissible fade show" role="alert">
                                {{message}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}

                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-12 mt-3 mb-4 mb-lg-0">
                                    <div class="custom-block bg-white shadow-lg">
                                        <div class="d-flex">
                                            <div>
                                                <div class="mb-2">
                                                    {% get_total_open_bookings as total_open_bookings %} 
                                                    <h2 style='font-size:1rem;'>{{total_open_bookings}}</h2>
                                                </div>
                                                <div class="mb-2">
                                                    <h2 style='font-size:1rem;' class='text-muted'>Open Rental</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-3 col-12 mt-3 mb-4 mb-lg-0">
                                    <div class="custom-block bg-white shadow-lg">
                                        <div class="d-flex">
                                            <div>
                                                <div class="mb-2">
                                                    {% get_total_open_carpool as total_open_carpool %} 
                                                    <h2 style='font-size:1rem;'>{{total_open_carpool}}</h2>
                                                </div>
                                                <div class="mb-2">
                                                    <h2 style='font-size:1rem;' class='text-muted'>Open Carpooling</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-3 col-12 mt-3 mb-4 mb-lg-0">
                                    <div class="custom-block bg-white shadow-lg">
                                        <div class="d-flex">
                                            <div>
                                                <div class="mb-2">
                                                    {% get_income_last_month as total_income_last_month %}
                                                    <h2 style='font-size:1rem;'>Php {{total_income_last_month}}</h2>
                                                </div>
                                                <div class="mb-2">
                                                    <h2 style='font-size:1rem;' class='text-muted'>Income Last Month</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-3 col-12 mt-3 mb-4 mb-lg-0">
                                    <div class="custom-block bg-white shadow-lg">
                                        <div class="d-flex">
                                            <div>
                                                <div class="mb-2">
                                                    {% get_income_this_month as total_income_this_month %}
                                                    <h2 style='font-size:1rem;'>Php {{total_income_this_month}}</h2>
                                                </div>
                                                <div class="mb-2">
                                                    <h2 style='font-size:1rem;' class='text-muted'>Income Last Month</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-12 mt-3 mb-4 mb-lg-0">
                                    <div class="custom-block bg-white shadow-lg">
                                        <div class='display-flex'>
                                            <h2 style='font-size:1rem;'>Graphs</h2>
                                            <select name="map_filter" class="form-control" style='width:50%; position:absolute; right:0; margin-right:20px;' required id="map_filter" onchange="">
                                                <option disabled selected>--- Select Filter --- </option>
                                                <option value='Carpool'>--- Carpool --- </option>
                                                <option value='Rental'>--- Rental --- </option>
                                            </select>
                                        </div><br>
                                        <canvas id='myChart' />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container">
                            <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5 mt-3">
                                <div class='display-flex'>
                                    <h2 style='font-size:1rem;'>Past Transactions</h2>
                                    <select name="transaction_filter" class="form-control mb-2" style='width:35%; position:absolute; right:0; margin-right:20px;' required id="transaction_filter" onchange='changeRecords(this);' onchange="">
                                        <option disabled selected>--- Select Filter --- </option>
                                        <option value='Carpool'>--- Carpool --- </option>
                                        <option value='Rental'>--- Rental --- </option>
                                    </select>
                                </div><br>
                                <div class="d-flex">
                                    <div class="table-responsive table-x-overflow">
                                        <table class="table table-striped table-full">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Service</th>
                                                    <th scope="col">Customer Name</th>
                                                    <th scope="col">Fare</th>
                                                    <th scope="col">From Destination</th>
                                                    <th scope="col">To Destination</th>
                                                    <th scope="col">Date</th>
                                                    <th scope="col">Status</th>
                                                </tr>
                                            </thead>
    
                                            <tbody>
                                                {% get_all_rental_services as all_rental_services %}
                                                {% for rental_service in all_rental_services %}
                                                    <tr id='rental_services_{{forloop.counter}}'>
                                                        <td class="font-bold">{{forloop.counter}}</td>
                                                        <td>Rental</td>
                                                        <td>{{rental_service.rented_by.user_id.first_name}} {{rental_service.rented_by.user_id.last_name}}</td>
                                                        <td>{{rental_service.package_price}}</td>
                                                        <td>{{rental_service.from_destination}}</td>
                                                        <td>{{rental_service.to_destination}}</td>
                                                        <td>{{rental_service.travel_date.date}}</td>
                                                        <td>
                                                            <button class="approve-button">Done</button>
                                                        </td>
                                                    </tr>
                                                {% endfor %}

                                                {% get_all_carpool_services as all_carpool_services %}
                                                {% for carpool_service in all_carpool_services %}
                                                    <tr id='carpool_services_{{forloop.counter}}' style='display:none;'>
                                                        <td class="font-bold">{{forloop.counter}}</td>
                                                        <td>Carpool</td>
                                                            {% if carpool_service.passenger_id %}
                                                                <td>{{carpool_service.passenger_id.user_id.first_name}} {{carpool_service.passenger_id.user_id.last_name}}</td>
                                                            {% else %}
                                                                <td>Picked Up Passenger</p>
                                                            {% endif %}
                                                        <td>{{carpool_service.fare}}</td>
                                                        <td>{{carpool_service.pick_up_location}}</td>
                                                        <td>{{carpool_service.destination}}</td>
                                                        <td>{{carpool_service.date_dropped.date}}</td>
                                                        <td>
                                                            <button class="approve-button">Dropped</button>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>


                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </main>

        <div class="modal-overlay" id="seen_message">
            <div class="modal">
                <div class="modal-body">
                    <h2 class="modal-title text-sm" id="modal-title-holder">
                        <!-- a header will be generated by the javascript -->
                    </h2>
                    <p id="modal-body-holder">
                        <!-- this will be changed once the admin proceeds -->
                    </p>

                    <p id="modal-footer">
                        <!-- Date Recorded : 0000-00-00 -->
                    </p>
                    <button type='submit' class="custom-btn mt-2 mt-lg-3 btn-danger w-100" onclick="closeModal('seen_message')">Close</button>
                </div>
            </div>
        </div>

        
        <!-- JAVASCRIPT FILES -->
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
        <script src="{% static 'assets/js/custom.js' %}"></script>

        <script src="{% static 'assets/js/form-validator.js' %}"></script>
        <script src="{% static 'assets/js/open-modal.js' %}"></script>
        <script src="{% static 'assets/js/open-notification.js' %}"></script>
        <script src="{% static 'assets/js/update-notification.js' %}"></script> 
        <script src="{% static 'assets/js/open-sidebar.js' %}"></script> 
        <script src="{% static 'assets/js/display-attached-images.js' %}"></script> 
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        
        <script>
            const ctx = document.getElementById('myChart');
          
            new Chart(ctx, {
                type: 'bar',
                data: {
                        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                        datasets: [{
                            label: '# of Votes',
                            data: [12, 19, 3, 5, 2, 3],
                            borderWidth: 1
                        }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>

        <script>
            function changeRecords(event){
                var all_rental_services = document.querySelectorAll(`[id^="rental_services"]`);
                var all_carpool_services = document.querySelectorAll(`[id^="carpool_services"]`);

                if (event.value === 'Rental'){
                    for (var x = 0; x < all_rental_services.length; x++){
                        all_rental_services[x].style.display = ''
                    }

                    for (var y = 0; y < all_carpool_services.length; y++){
                        all_carpool_services[y].style.display = 'none'
                    }
                }
                else{
                    for (var x = 0; x < all_rental_services.length; x++){
                        all_rental_services[x].style.display = 'none'
                    }

                    for (var y = 0; y < all_carpool_services.length; y++){
                        all_carpool_services[y].style.display = ''
                    }
                }
            }
        </script>
    </body>
</html>