{% load static %}
{% load tz %}
{% load vanrental_templatetags %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>List of Vans | Van Rental</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">

        <link href="{% static 'assets/css/bootstrap-icons.css' %}" rel="stylesheet">

        <link href="{% static 'assets/css/templatemo-topic-listing.css' %}" rel="stylesheet">      

    </head>
    
    <body id="top">

        <main>
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    {% if user.is_authenticated %}
                        <button class='menu-button' id="menu-btn" onclick="openSideBar();">
                            <img src="{% static 'assets/images/car-menu-button.png' %}" class='h-45 w-45'/>
                            <span>Passenger Connect</span>
                        </button>

                        <button class='menu-button-x' id='close-menu-btn' onclick="closeSideBar();">
                            <img src="{% static 'assets/images/car-menu-left-arrow.png' %}" class='h-45 w-45'/>
                            <span>Passenger Connect</span>
                        </button>
                    {% else %}
                        <button class='menu-button'>
                            <img src="{% static 'assets/images/car.svg' %}" class='h-45 w-45'/>
                            <span>Passenger Connect</span>
                        </button>
                    {% endif %}

                    {% if user.is_authenticated %}
                    <div class="d-lg-none ms-auto me-4">
                        <button class="profile-button" onclick="openNotification('mobile');">
                            <img src="{% static 'assets/images/bell-circle.svg' %}"/>
                            <div class='notification-alert'>
                                {% get_unseen_notifications user as unseen_notifications %}
                                {{unseen_notifications}}
                            </div>
                        </button>

                        <button class="profile-button" onclick="openProfile('mobile');">
                            {% get_my_profile user as my_profile %}
                            {% if my_profile %}
                                <img src="{{my_profile}}"/>
                            {% else %}
                                <img src="{% static 'assets/images/default-profile.png' %}"/>
                            {% endif %}
                        </button>

                        <div class="message-box mr-20" id="my-profile-mobile">
                            <ul>
                                <li>
                                    <a href="topics-listing.html">
                                        <img src="{% static 'assets/images/account-settings.svg' %}" class="h-30 w-30"/>
                                        My Profile
                                    </a>
                                </li>

                                <li>
                                    <a href="/logout">
                                        <img src="{% static 'assets/images/logout.svg' %}" class="h-30 w-30"/>
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="message-box mr-20" id="my-notification-mobile">
                            <div class='message-box-header'>
                                <p>
                                    Notifications
                                </p>
                            </div>
                            <div class='notification-scroll'>
                                <ul>
                                    {% get_my_notifications user as all_notifications %}
                                    {% if all_notifications|length > 0 %}
                                        {% for notif in all_notifications %}
                                            <li data-message='{{notif.id}}'  class="custom-button {% if not notif.is_seen %}not-seen-bg{% endif %}">
                                                <p>{{notif.message}}</p>
                                            </li>
                                        {% endfor %}
                                    {% else %}
                                        <li>
                                            <p>Cannot find new notifications.</p>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    {% endif %}

    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_1">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_2">Browse Topics</a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_3">How it works</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_4">FAQs</a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="#section_5">Contact</a>
                            </li>

                            {% if not user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="/login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="/signup">Signup</a>
                            </li>
                            {% endif %}
                        </ul>

                        {% if user.is_authenticated %}
                        <div class="d-none d-lg-block">

                            <button class="profile-button" onclick="openNotification('desktop');">
                                <img src="{% static 'assets/images/bell-circle.svg' %}"/>
                                <div class='notification-alert'>
                                    {% get_unseen_notifications user as unseen_notifications %}
                                    {{unseen_notifications}}
                                </div>
                            </button>
                            

                                
                            <button class="profile-button" onclick="openProfile('desktop');">
                                {% get_my_profile user as my_profile %}
                                {% if my_profile %}
                                    <img src="{{my_profile}}"/>
                                {% else %}
                                    <img src="{% static 'assets/images/default-profile.png' %}"/>
                                {% endif %}
                            </button>

                            <div class="message-box mr-100" id="my-profile-desktop">
                                <div class='message-box-header'>
                                    <p>
                                        Profile
                                    </p>
                                </div>
                                <ul>
                                    <li>
                                        <a href="topics-listing.html">
                                            <img src="{% static 'assets/images/account-settings.svg' %}" class="h-30 w-30"/>
                                            My Profile
                                        </a>
                                    </li>
    
                                    <li>
                                        <a href="/logout">
                                            <img src="{% static 'assets/images/logout.svg' %}" class="h-30 w-30"/>
                                            Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="message-box mr-100" id="my-notification-desktop">
                                <div class='message-box-header'>
                                    <p>
                                        Notifications
                                    </p>
                                </div>
                                <div class='notification-scroll'>
                                    <ul>
                                        {% get_my_notifications user as all_notifications %}
                                        {% if all_notifications|length > 0 %}
                                            {% for notif in all_notifications %}
                                                <li data-message='{{notif.id}}'  class="custom-button {% if not notif.is_seen %}not-seen-bg{% endif %}">
                                                    <p>{{notif.message}}</p>
                                                </li>
                                            {% endfor %}
                                        {% else %}
                                            <li>
                                                <p>Cannot find new notifications.</p>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                        
                        {% endif %}
                    </div>
                </div>
            </nav>

            {% if user.is_authenticated %}
            <div class="side-bar-header">   
                <div class="side-bar" id="van-rental-sidebar">
                    <div class="van-nav-items">
                        <ul>
                            <li>
                                <a href="/index" class='display-flex'>
                                    <img src="{% static 'assets/images/home-circle.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Homepage
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/rent-a-van" class='display-flex'>
                                    <img src="{% static 'assets/images/book-heart.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Rent A Van
                                    </div>
                                </a>
                            </li>
                            {% if not user.is_superuser %}
                            <li>
                                <a href="/available-carpooling" class='display-flex'>
                                    <img src="{% static 'assets/images/car-select.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Carpooling
                                        {% get_total_open_carpool as total_open_carpool %} 
                                        {% if total_open_carpool > 0%}
                                            <div class='side-bar-circle-alert'>
                                                {{total_open_carpool}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </a>
                            </li>
                            {% endif %}
                            {% if user.is_superuser %}
                            <li>
                                <a href="/rent-booking" class='display-flex'>
                                    <img src="{% static 'assets/images/book-clock.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Open Bookings
                                        {% get_total_open_bookings as total_open_bookings %} 
                                        {% if total_open_bookings > 0%}
                                            <div class='side-bar-circle-alert'>
                                                {{total_open_bookings}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </a>
                            </li>
                            {% endif %}

                            {% if not user.is_superuser %}
                            <li>
                                <a href="/pending-booking" class='display-flex'>
                                    <img src="{% static 'assets/images/book-alert.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Pending Bookings
                                        {% get_total_pending_bookings user as total_open_bookings %} 
                                        {% if total_open_bookings > 0%}
                                            <div class='side-bar-circle-alert'>
                                                {{total_open_bookings}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </a>
                            </li>
                            {% endif %}
                            
                            <li>
                                <a href="/confirmed-booking" class='display-flex'>
                                    <img src="{% static 'assets/images/book-check.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Confirmed Bookings
                                        {% get_total_confirmed_bookings as total_confirmed_bookings %} 
                                        {% if total_confirmed_bookings > 0 %}
                                            <div class='side-bar-circle-alert'>
                                                {{total_confirmed_bookings}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="/past-booking" class='display-flex'>
                                    <img src="{% static 'assets/images/book-search.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Past Bookings
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="/past-carpooling" class='display-flex'>
                                    <img src="{% static 'assets/images/car-search.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Past Carpooling
                                    </div>
                                </a>
                            </li>
                            
                            <li>
                                <a href="/cancelled-booking" class='display-flex'>
                                    <img src="{% static 'assets/images/book-cancel.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Cancelled Bookings
                                    </div>
                                </a>
                            </li>
                            
                            <li>
                                <a href="/past-booking" class='display-flex'>
                                    <img src="{% static 'assets/images/book-x.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Rejected Bookings
                                    </div>                                    
                                </a>
                            </li>

                            <li>
                                <a href="/profile" class='display-flex'>
                                    <img src="{% static 'assets/images/settings.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Settings
                                    </div>                                    
                                </a>
                            </li>
                            {% if user.is_superuser %}
                            <li>
                                <a href="/list-of-vans" class='display-flex'>
                                    <img src="{% static 'assets/images/van-icon.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        All Vans
                                    </div>                                    
                                </a>
                            </li>

                            <li>
                                <a href="/pending-drivers" class='display-flex'>
                                    <img src="{% static 'assets/images/pending-driver.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Pending Drivers
                                        {% get_total_pending_drivers as total_pending_drivers %}
                                        {% if total_pending_drivers > 0 %}
                                            <div class='side-bar-circle-alert'>
                                                {{total_pending_drivers}}
                                            </div>
                                        {% endif %}
                                    </div>                                    
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}

            <header class="site-header d-flex flex-column justify-content-center align-items-center -mt-50">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-12">
                            <nav aria-label="breadcrumb" style="display:flex;">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/index">Homepage</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">List of Vans</li>
                                </ol>
                                <button class="add-btn" onclick="openModal('add_van_modal');">Add Van</button>
                            </nav>

                        </div>

                        {% for message in messages %}
                            <div class="alert alert-info alert-dismissible fade show" role="alert">
                                {{message}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}

                        <div class="container">
                            {% if all_vans|length > 0 %}
                            <div class="row">
                                {% for van in all_vans %}
                                <div class="col-lg-6 col-md-6 col-12 mt-3 mb-4 mb-lg-0">
                                    <div class="custom-block bg-white shadow-lg">
                                        <div class="d-flex">
                                            <div>
                                                <div class="mb-2">
                                                    <h5>{{van.brand_name}}</h5>
                                                    <p>Plate No : {{van.plate_no}}</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="vanSlider{{van.id}}" class="carousel slide van-slider" data-bs-ride="carousel">
                                            <!-- Indicators/dots -->
                                            {% all_van_images_indices van as van_images_indices %} <!-- get all the images of the van | located at templatetag-->
                                            <div class="carousel-indicators">
                                                {% for van_index in van_images_indices %}
                                                    {% if van_index == 0 %}
                                                        <button type="button" data-bs-target="#vanSlider{{van.id}}" data-bs-slide-to="{{van_index}}" class="active"></button>
                                                    {% else %}
                                                        <button type="button" data-bs-target="#vanSlider{{van.id}}" data-bs-slide-to="{{van_index}}"></button>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        
                                            <!-- The slideshow/carousel -->
                                            {% get_all_van_images van as all_van_images %} <!-- get all the images of the van | located at templatetag-->
                                            <div class="carousel-inner">
                                                {% for van_image in all_van_images %}
                                                    {% if forloop.counter0 == 0 %}
                                                        <div class="carousel-item active">
                                                            <div class='slider-image-container'>
                                                                <img src="{{van_image.vehicle_image}}" alt="" class="slider-image">
                                                            </div>
                                                        </div>
                                                    {% else %}
                                                        <div class="carousel-item">
                                                            <div class='slider-image-container'>
                                                                <img src="{{van_image.vehicle_image}}" alt="" class="slider-image">
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        
                                            <!-- Left and right controls/icons -->
                                            <button class="carousel-control-prev" type="button" data-bs-target="#vanSlider{{van.id}}" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon"></span>
                                            </button>
                                            <button class="carousel-control-next" type="button" data-bs-target="#vanSlider{{van.id}}" data-bs-slide="next">
                                                <span class="carousel-control-next-icon"></span>
                                            </button>
                                        </div>
                                        
                                        <p class="mb-2">{{van.description}}</p>
                                        {% get_van_total_rental_and_carpool_service van as van_services %} <!-- get all the services of the van | located at templatetag -->
                                        <p class="mb-0">No. of rental services : {{van_services.0}}</p> <!-- get the total rental services, can be accessed using index 0-->
                                        <p class="mb-0">No. of rental services : {{van_services.1}}</p> <!-- get the total rental services, can be accessed using index 0-->

                                        {% if van.is_rented == True %}
                                            <button class="btn custom-btn mt-2 mt-lg-3">Status : Rented</button>
                                        {% elif van.is_carpooled == True %}
                                            <button class="btn custom-btn mt-2 mt-lg-3">Status : Carpooling</button>
                                        {% else %}
                                            <button class="btn custom-btn mt-2 mt-lg-3">Status : Available</button>
                                        {% endif %}

                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% else %}
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12 mt-3 mb-4 mb-lg-0">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="topics-detail.html">
                                            <div class="d-flex">
                                                <div>
                                                    <div class="mb-2">
                                                        <h5>Car Name</h5>
                                                        <p>Plate No : 4569-5656</p>
                                                    </div>
        
                                                </div>
                                                <span class="badge bg-finance rounded-pill ms-auto">30</span>
                                            </div>
                                        </a>
                                        <div id="demo" class="carousel slide van-slider" data-bs-ride="carousel">
                                            <!-- Indicators/dots -->
                                            <div class="carousel-indicators">
                                                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                                                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                                                <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                                            </div>
                                        
                                            <!-- The slideshow/carousel -->
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <img src="{% static 'assets/images/c1.jpg' %}" alt="Los Angeles" class="d-block w-100">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="{% static 'assets/images/c2.jpg' %}" alt="Chicago" class="d-block w-100">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="{% static 'assets/images/c3.jpg' %}" alt="New York" class="d-block w-100">
                                                </div>
                                            </div>
                                        
                                            <!-- Left and right controls/icons -->
                                            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon"></span>
                                            </button>
                                            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                                                <span class="carousel-control-next-icon"></span>
                                            </button>
                                        </div>
                                        
                                        <p class="mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis impedit earum numquam porro, repudiandae blanditiis optio sequi dolorem vitae distinctio.</p>
                                        <p class="mb-0">No. of rental service : 12</p>
                                        <p class="mb-0">No. of carpool service : 12</p>

                                        <button class="btn custom-btn mt-2 mt-lg-3">Status : Available</button>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </header>
        </main>



        <div class="modal-overlay" id="add_van_modal" style="width:40%;">
            <div class="modal">
                <div class="modal-body">
                    <h2 class="modal-title">Add Van Information</h2>

                    <div id="add_van" class="carousel slide van-slider" data-bs-ride="carousel">
                        <!-- Indicators/dots -->
                        <div class="carousel-indicators" id='carousel-indicators'>
                            {% comment %} <button type="button" data-bs-target="#add_van" data-bs-slide-to="0" class="active"></button>
                            <button type="button" data-bs-target="#add_van" data-bs-slide-to="1"></button>
                            <button type="button" data-bs-target="#add_van" data-bs-slide-to="2"></button>
                            <button type="button" data-bs-target="#add_van" data-bs-slide-to="3"></button> {% endcomment %}
                        </div>
                    
                        <!-- The slideshow/carousel -->
                        <div class="carousel-inner" id="carousel-inner">
                            <!-- images will go here using the format below, wherein the first image will have "active" class to activate the first child -->

                            <!-- <div class="carousel-item active">
                                <img src="{% static 'assets/images/van-icon.svg' %}" class="d-block w-100">
                            </div> -->
                        </div>
                    
                        <!-- Left and right controls/icons -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#add_van" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#add_van" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>
                    <h2 class="text-center" id='carousel_title'>Your Van Images will appear here</h2>


                    <form class="custom-form subscribe-form g-3 needs-validation" novalidate method='POST'>
                        {% csrf_token %}
                        <label class="form-label">Attach Images</label>
                        <input type="file" multiple name="attached_images" class="form-control"  onchange="displayUploadedPreview(event)" required>
                        <input type="hidden" multiple name="images" class="form-control" required>

                        <label class="form-label">Plate No.</label>
                        <input type="text" name="plate_no" class="form-control" placeholder="Plate No." required>
                        
                        <label class="form-label">Brand Name</label>
                        <input type="text" name="brand_name" class="form-control" placeholder="Brand Name" required>

                        <label class="form-label">Color</label>
                        <input type="text" name="color" class="form-control" placeholder="Color" required>

                        <label class="form-label">No. of seats</label>
                        <input type="text" name="number_of_seats" class="form-control" placeholder="No. of seats" required>
                        
                        <label class="form-label">Van Description</label>
                        <input type="text" name="description" class="form-control" placeholder="Van Description" required>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="form-control">Save</button>
                            </div>
                            <br/>
                            <br/>
                            <br/>
                            <div class="col-md-6">
                                <button type='button' class="form-control" onclick="closeModal('add_van_modal')">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal-overlay" id="seen_message">
            <div class="modal">
                <div class="modal-body">
                    <h2 class="modal-title text-sm" id="modal-title-holder">
                        <!-- a header will be generated by the javascript -->
                    </h2>
                    <p id="modal-body-holder">
                        By proceeding, the account owner will receive an email to verify his/her address. 
                        Please inform your driver in order to verify his account.
                        <!-- this will be changed once the admin proceeds -->
                    </p>

                    <p id="modal-footer">
                        <!-- Date Recorded : 0000-00-00 -->
                    </p>
                    <button type='submit' class="form-control" onclick="closeModal('seen_message')">Close</button>
                </div>
            </div>
        </div>
        
        <!-- JAVASCRIPT FILES -->
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
        <script src="{% static 'assets/js/custom.js' %}"></script>

        <script src="{% static 'assets/js/form-validator.js' %}"></script>
        <script src="{% static 'assets/js/open-modal.js' %}"></script>
        <script src="{% static 'assets/js/open-notification.js' %}"></script>
        <script src="{% static 'assets/js/update-notification.js' %}"></script> 
        <script src="{% static 'assets/js/open-sidebar.js' %}"></script> 
        <script src="{% static 'assets/js/display-attached-images.js' %}"></script> 
        
    </body>
</html>