{% load static %}
{% load tz %}
{% load vanrental_templatetags %}
{% load pwa %}
{% progressive_web_app_meta %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>List of Vans | Passenger Connect</title>

        <!-- CSS FILES -->        
        <link rel="icon" href="{% static 'assets/images/car-favicon.svg' %}" type="image/x-icon">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">

        <link href="{% static 'assets/css/bootstrap-icons.css' %}" rel="stylesheet">

        <link href="{% static 'assets/css/templatemo-topic-listing.css' %}" rel="stylesheet">      

    </head>
    
    <body id="top">

        <main>
            
            <!-- NAVIGATION BAR -->
            {% include 'navbar.html' %}
            <!-- NAVIGATION BAR -->

            <!-- SIDE BAR -->
            {% include 'sidebar.html' %}
            <!-- SIDE BAR -->

            <header class="site-header d-flex flex-column justify-content-center align-items-center -mt-50">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-12">
                            <nav aria-label="breadcrumb" style="display:flex;">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/index">Homepage</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">List of Vans</li>
                                </ol>
                                <button class="add-btn" onclick="openModal('add_van_modal');">Add Van</button>
                            </nav>

                        </div>

                        {% for message in messages %}
                            <div class="alert alert-info alert-dismissible fade show" role="alert">
                                {{message}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}

                        <div class="container">
                            {% if all_vans|length > 0 %}
                            <div class="row">
                                {% for van in all_vans %}
                                <div class="col-lg-6 col-md-6 col-12 mt-3 mb-4 mb-lg-0">
                                    <div class="custom-block bg-white shadow-lg">
                                        <div class="d-flex">
                                            <div>
                                                <div class='mb-2'>
                                                    <h5>{{van.brand_name}}</h5>
                                                    <p class="mb-0"><b>Plate No. :</b> {{van.plate_no}}</p>
                                                    <p class="mb-0"><b>Color :</b> {{van.color}}</p>
                                                    <p class="mb-0"><b>No. Of Seats :</b> {{van.number_of_seats}}</p>
                                                    <p class="mb-0"><b>Air Conditioned :</b> 
                                                        {% if van.is_airconditioned %}
                                                            YES
                                                        {% else %}
                                                            NO
                                                        {% endif %}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="vanSlider{{van.id}}" class="carousel slide van-slider" data-bs-ride="carousel">
                                            <!-- Indicators/dots -->
                                            {% all_van_images_indices van as van_images_indices %} <!-- get all the images of the van | located at templatetag-->
                                            <div class="carousel-indicators">
                                                {% for van_index in van_images_indices %}
                                                    {% if van_index == 0 %}
                                                        <button type="button" data-bs-target="#vanSlider{{van.id}}" data-bs-slide-to="{{van_index}}" class="active"></button>
                                                    {% else %}
                                                        <button type="button" data-bs-target="#vanSlider{{van.id}}" data-bs-slide-to="{{van_index}}"></button>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        
                                            <!-- The slideshow/carousel -->
                                            {% get_all_van_images van as all_van_images %} <!-- get all the images of the van | located at templatetag-->
                                            <div class="carousel-inner">
                                                {% for van_image in all_van_images %}
                                                    {% if forloop.counter0 == 0 %}
                                                        <div class="carousel-item active">
                                                            <div class='slider-image-container'>
                                                                <img src="{{van_image.vehicle_image}}" alt="" class="slider-image">
                                                            </div>
                                                        </div>
                                                    {% else %}
                                                        <div class="carousel-item">
                                                            <div class='slider-image-container'>
                                                                <img src="{{van_image.vehicle_image}}" alt="" class="slider-image">
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        
                                            <!-- Left and right controls/icons -->
                                            <button class="carousel-control-prev" type="button" data-bs-target="#vanSlider{{van.id}}" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon"></span>
                                            </button>
                                            <button class="carousel-control-next" type="button" data-bs-target="#vanSlider{{van.id}}" data-bs-slide="next">
                                                <span class="carousel-control-next-icon"></span>
                                            </button>
                                        </div>
                                        
                                        <p class="mb-2">{{van.description}}</p>


                                        {% get_color_coding van as all_color_coding %}
                                        <h6>Not available every : </h6>
                                        <div class='row'>
                                        {% for day in all_color_coding %}
                                            <button class="color-coding-btn">{{day}}</button>
                                        {% endfor %}
                                        </div>

                                        <button class="btn custom-btn mt-2 mt-lg-3" onclick='openEditVanInformation("edit_van_information", {{van.id}})'>Edit Information</button>

                                        {% if van.is_rented == True %}
                                            <button class="btn custom-btn mt-2 mt-lg-3">Status : Rented</button>
                                        {% elif van.is_carpooled == True %}
                                            <button class="btn custom-btn mt-2 mt-lg-3">Status : Carpooling</button>
                                        {% else %}
                                            <button class="btn custom-btn mt-2 mt-lg-3">Status : Available</button>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>

                            {% else %}
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12 mt-3 mb-4 mb-lg-0">
                                    <div class="custom-block bg-white shadow-lg">
                                        <div class="d-flex">
                                            <div>
                                                <div class="mb-2">
                                                    <h5>Van Name</h5>
                                                    <p>Plate No : 4569-5656</p>
                                                </div>
    
                                            </div>
                                            <span class="badge bg-finance rounded-pill ms-auto">30</span>
                                        </div>
                                        <div id="demo" class="carousel slide van-slider" data-bs-ride="carousel">
                                            <!-- Indicators/dots -->
                                            <div class="carousel-indicators">
                                                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                                                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                                                <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                                            </div>
                                        
                                            <!-- The slideshow/carousel -->
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <img src="{% static 'assets/images/car-favicon.svg' %}" alt="" class="d-block w-100">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="{% static 'assets/images/car-select.svg' %}" alt="" class="d-block w-100">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="{% static 'assets/images/van-icon.svg' %}" alt="" class="d-block w-100">
                                                </div>
                                            </div>
                                        
                                            <!-- Left and right controls/icons -->
                                            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon"></span>
                                            </button>
                                            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                                                <span class="carousel-control-next-icon"></span>
                                            </button>
                                        </div>
                                        
                                        <p class="mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis impedit earum numquam porro, repudiandae blanditiis optio sequi dolorem vitae distinctio.</p>
                                        <p class="mb-0">No. of rental service : 12</p>
                                        <p class="mb-0">No. of carpool service : 12</p>

                                        <button class="btn custom-btn mt-2 mt-lg-3 btn-danger">Status : Unavailable</button>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </header>
        </main>



        <div class="modal-overlay" id="add_van_modal" style="width:40%;">
            <div class="modal">
                <div class="modal-body">
                    <h2 class="modal-title">Add Van Information</h2>

                    <div id="add_van" class="carousel slide van-slider" data-bs-ride="carousel">
                        <!-- Indicators/dots -->
                        <div class="carousel-indicators" id='carousel-indicators'>
                            {% comment %} <button type="button" data-bs-target="#add_van" data-bs-slide-to="0" class="active"></button>
                            <button type="button" data-bs-target="#add_van" data-bs-slide-to="1"></button>
                            <button type="button" data-bs-target="#add_van" data-bs-slide-to="2"></button>
                            <button type="button" data-bs-target="#add_van" data-bs-slide-to="3"></button> {% endcomment %}
                        </div>
                    
                        <!-- The slideshow/carousel -->
                        <div class="carousel-inner" id="carousel-inner">
                            <!-- images will go here using the format below, wherein the first image will have "active" class to activate the first child -->

                            <!-- <div class="carousel-item active">
                                <img src="{% static 'assets/images/van-icon.svg' %}" class="d-block w-100">
                            </div> -->
                        </div>
                    
                        <!-- Left and right controls/icons -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#add_van" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#add_van" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>
                    <h2 class="text-center" id='carousel_title' style='font-size:1rem;'>Your Van Images will appear here</h2>


                    <form class="custom-form subscribe-form g-3 needs-validation" novalidate method='POST'>
                        {% csrf_token %}
                        <label class="form-label">Attach Images</label>
                        <input type="file" multiple name="attached_images" class="form-control"  onchange="displayUploadedPreview(event)" required>
                        <input type="hidden" multiple name="images" class="form-control" required>


                        <label class="form-label">Plate No.</label>
                        <input type="text" name="plate_no" class="form-control" placeholder="Plate No." required>
                        
                        <label class="form-label">Brand Name</label>
                        <input type="text" name="brand_name" class="form-control" placeholder="Brand Name" required>

                        <label class="form-label">Color</label>
                        <input type="text" name="color" class="form-control" placeholder="Color" required>

                        
                        <label class="form-label">Air Conditioned</label>
                        <select type="text" name="is_airconditioned" class="form-control" placeholder="No. of seats" required>
                            <option disabled selected> --- SELECT --- </option>
                            <option value='yes'>YES</option>
                            <option value='no'>NO</option>
                        </select>

                        <label class="form-label">Van Description</label>
                        <input type="text" name="description" class="form-control" placeholder="Van Description" required>

                        <div class="container" style='margin-top : 10px; margin-bottom: 10px;'>
                            <h6>Color Coding</h6>
                            <div class="btn-group" data-toggle="buttons">
                                <div class='row'>
                                    <div>
                                        <label class="btn btn-primary">
                                            <input type="checkbox" name="Monday" id="Monday" autocomplete="off" checked> Monday
                                        </label>
                                    
                                        <label class="btn btn-primary">
                                            <input type="checkbox" name="Tuesday" id="Tuesday" autocomplete="off"> Tuesday
                                        </label>
                                    
                                        <label class="btn btn-primary">
                                            <input type="checkbox" name="Wednesday" id="Wednesday" autocomplete="off"> Wednesday
                                        </label>
                                    
                                        <label class="btn btn-primary">
                                            <input type="checkbox" name="Thursday" id="Thursday" autocomplete="off"> Thursday
                                        </label>
                                    </div>

                                    <div>
                                        <label class="btn btn-primary">
                                            <input type="checkbox" name="Friday" id="Friday" autocomplete="off"> Friday
                                        </label>
                                    
                                        <label class="btn btn-primary">
                                            <input type="checkbox" name="Saturday" id="Saturday" autocomplete="off"> Saturday
                                        </label>
                                    
                                        <label class="btn btn-primary">
                                            <input type="checkbox" name="Sunday" id="Sunday" autocomplete="off"> Sunday
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                          
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="form-control">Save</button>
                            </div>
                            <br/>
                            <br/>
                            <br/>
                            <div class="col-md-6">
                                <button type='button' class="btn btn-danger form-control text-white" onclick="closeModal('add_van_modal')">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="modal-overlay" id="edit_van_information" style="width:40%;">
            <div class="modal">
                <div class="modal-body">
                    <h2 class="modal-title">Edit Van Information</h2>


                    <form class="edit-van-form custom-form subscribe-form g-3 needs-validation" novalidate method='POST'>
                        {% csrf_token %}
                        <input type="hidden" name="to_edit_van_id" required>

                        <label class="form-label">Plate No.</label>
                        <input type="text" name="to_edit_plate_no" class="form-control" placeholder="Plate No." required>
                        
                        <label class="form-label">Brand Name</label>
                        <input type="text" name="to_edit_brand_name" class="form-control" placeholder="Brand Name" required>

                        <label class="form-label">Color</label>
                        <input type="text" name="to_edit_color" class="form-control" placeholder="Color" required>

                        
                        <label class="form-label">Air Conditioned</label>
                        <select type="text" name="to_edit_is_airconditioned" class="form-control" placeholder="No. of seats" required>
                            <option disabled selected> --- SELECT --- </option>
                            <option value='yes'>YES</option>
                            <option value='no'>NO</option>
                        </select>

                        <label class="form-label">Van Description</label>
                        <textarea rows="5" name="to_edit_description" class="form-control" placeholder="Van Description" required></textarea>

                        <div class="container" style='margin-top : 10px; margin-bottom: 10px;'>
                            <h6>Color Coding</h6>
                            <div class="btn-group" data-toggle="buttons">
                                <div class='row'>
                                    <div>
                                        <label class="btn btn-primary">
                                            <input type="checkbox" name="to_edit_Monday" id="Monday" autocomplete="off" checked> Monday
                                        </label>
                                    
                                        <label class="btn btn-primary">
                                            <input type="checkbox" name="to_edit_Tuesday" id="Tuesday" autocomplete="off"> Tuesday
                                        </label>
                                    
                                        <label class="btn btn-primary">
                                            <input type="checkbox" name="to_edit_Wednesday" id="Wednesday" autocomplete="off"> Wednesday
                                        </label>
                                    
                                        <label class="btn btn-primary">
                                            <input type="checkbox" name="to_edit_Thursday" id="Thursday" autocomplete="off"> Thursday
                                        </label>
                                    </div>

                                    <div>
                                        <label class="btn btn-primary">
                                            <input type="checkbox" name="to_edit_Friday" id="Friday" autocomplete="off"> Friday
                                        </label>
                                    
                                        <label class="btn btn-primary">
                                            <input type="checkbox" name="to_edit_Saturday" id="Saturday" autocomplete="off"> Saturday
                                        </label>
                                    
                                        <label class="btn btn-primary">
                                            <input type="checkbox" name="to_edit_Sunday" id="Sunday" autocomplete="off"> Sunday
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                          
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="form-control">Save</button>
                            </div>
                            <br/>
                            <br/>
                            <br/>
                            <div class="col-md-6">
                                <button type='button' class="btn btn-danger form-control text-white" onclick="closeEditVanInformation('edit_van_information')">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        

        <div class="modal-overlay" id="seen_message">
            <div class="modal">
                <div class="modal-body">
                    <h2 class="modal-title text-sm" id="modal-title-holder">
                        <!-- a header will be generated by the javascript -->
                    </h2>
                    <p id="modal-body-holder">
                        By proceeding, the account owner will receive an email to verify his/her address. 
                        Please inform your driver in order to verify his account.
                        <!-- this will be changed once the admin proceeds -->
                    </p>

                    <p id="modal-footer">
                        <!-- Date Recorded : 0000-00-00 -->
                    </p>
                    <button type='submit' class="form-control" onclick="closeModal('seen_message')">Close</button>
                </div>
            </div>
        </div>

        <script>
            

            function openEditVanInformation(overlayId, van_id) {
                const modalOverlay = document.getElementById(overlayId);
                const modal = modalOverlay.querySelector(".modal");
                modalOverlay.classList.add("active");
                modal.classList.add("active");
                

                // Select the form and input fields
                const form = document.querySelector(".edit-van-form");
                const vanID = form.querySelector("[name=to_edit_van_id]");
                const plateNoInput = form.querySelector("[name=to_edit_plate_no]");
                const brandNameInput = form.querySelector("[name=to_edit_brand_name]");
                const colorInput = form.querySelector("[name=to_edit_color]");
                const isAirconditionedInput = form.querySelector("[name=to_edit_is_airconditioned]");
                const descriptionInput = form.querySelector("[name=to_edit_description]");

                // Checkbox inputs for color coding
                const mondayCheckbox = form.querySelector("[name=to_edit_Monday]");
                const tuesdayCheckbox = form.querySelector("[name=to_edit_Tuesday]");
                const wednesdayCheckbox = form.querySelector("[name=to_edit_Wednesday]");
                const thursdayCheckbox = form.querySelector("[name=to_edit_Thursday]");
                const fridayCheckbox = form.querySelector("[name=to_edit_Friday]");
                const saturdayCheckbox = form.querySelector("[name=to_edit_Saturday]");
                const sundayCheckbox = form.querySelector("[name=to_edit_Sunday]");


            
                if (van_id) {
                    fetch(`get_van_info/${van_id}`)
                        .then(response => response.json())
                        .then(data => {
                            console.log('data', data);
                            // Set values in the form fields
                            vanID.value = van_id;
                            plateNoInput.value = data.plate_no;
                            brandNameInput.value = data.brand_name;
                            colorInput.value = data.color;
                            isAirconditionedInput.value = data.is_airconditioned ? 'yes' : 'no';
                            descriptionInput.value = data.description;

                            // Check/uncheck checkboxes based on color coding
                            mondayCheckbox.checked = data.color_coding.includes("Monday");
                            tuesdayCheckbox.checked = data.color_coding.includes("Tuesday");
                            wednesdayCheckbox.checked = data.color_coding.includes("Wednesday");
                            thursdayCheckbox.checked = data.color_coding.includes("Thursday");
                            fridayCheckbox.checked = data.color_coding.includes("Friday");
                            saturdayCheckbox.checked = data.color_coding.includes("Saturday");
                            sundayCheckbox.checked = data.color_coding.includes("Sunday");
                        })
                        .catch(error => {
                            console.error("Error:", error);
                        });
                }
            }
            


            function closeEditVanInformation(overlayId) {
                const modalOverlay = document.getElementById(overlayId);
                const modal = modalOverlay.querySelector(".modal");
                modalOverlay.classList.remove("active");
                modal.classList.remove("active");
            }

        </script>
        
        <!-- JAVASCRIPT FILES -->
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
        <script src="{% static 'assets/js/custom.js' %}"></script>

        <script src="{% static 'assets/js/form-validator.js' %}"></script>
        <script src="{% static 'assets/js/open-modal.js' %}"></script>
        <script src="{% static 'assets/js/open-notification.js' %}"></script>
        <script src="{% static 'assets/js/update-notification.js' %}"></script> 
        <script src="{% static 'assets/js/open-sidebar.js' %}"></script> 
        <script src="{% static 'assets/js/display-attached-images.js' %}"></script> 
        

        
    </body>
</html>