{% load static %}
{% load tz %}
{% load vanrental_templatetags %}
{% load pwa %}
{% progressive_web_app_meta %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Past Bookings | Passenger Connect</title>

        <!-- CSS FILES -->        
        <link rel="icon" href="{% static 'assets/images/car-favicon.svg' %}" type="image/x-icon">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">

        <link href="{% static 'assets/css/bootstrap-icons.css' %}" rel="stylesheet">

        <link href="{% static 'assets/css/templatemo-topic-listing.css' %}" rel="stylesheet">      

    </head>
    
    <body id="top">

        <main>
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    {% if user.is_authenticated %}
                        <button class='menu-button' id="menu-btn" onclick="openSideBar();">
                            <img src="{% static 'assets/images/car-menu-button.png' %}" class='h-45 w-45'/>
                            <span>Passenger Connect</span>
                        </button>

                        <button class='menu-button-x' id='close-menu-btn' onclick="closeSideBar();">
                            <img src="{% static 'assets/images/car-menu-left-arrow.png' %}" class='h-45 w-45'/>
                            <span>Passenger Connect</span>
                        </button>
                    {% else %}
                        <button class='menu-button'>
                            <img src="{% static 'assets/images/car.svg' %}" class='h-45 w-45'/>
                            <span>Passenger Connect</span>
                        </button>
                    {% endif %}

                    {% if user.is_authenticated %}
                    <div class="d-lg-none ms-auto me-4">
                        <button class="profile-button" onclick="openNotification('mobile');">
                            <img src="{% static 'assets/images/bell-circle.svg' %}"/>
                            {% get_unseen_notifications user as unseen_notifications %}
                            {% if unseen_notifications > 0 %}
                                <div class='notification-alert'>
                                    {{unseen_notifications}}
                                </div>
                            {% endif %}
                        </button>

                        <button class="profile-button" onclick="openProfile('mobile');">
                            {% get_my_profile user as my_profile %}
                            {% if my_profile %}
                                <img src="{{my_profile}}"/>
                            {% else %}
                                <img src="{% static 'assets/images/default-profile.png' %}"/>
                            {% endif %}
                        </button>

                        <div class="message-box mr-20" id="my-profile-mobile">
                            <ul>
                                <li>
                                    <a href="/profile">
                                        <img src="{% static 'assets/images/account-settings.svg' %}" class="h-30 w-30"/>
                                        My Profile
                                    </a>
                                </li>

                                <li>
                                    <a href="/logout">
                                        <img src="{% static 'assets/images/logout.svg' %}" class="h-30 w-30"/>
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="message-box mr-20" id="my-notification-mobile">
                            <div class='message-box-header'>
                                <p>
                                    Notifications
                                </p>
                            </div>
                            <div class='notification-scroll'>
                                <ul>
                                    {% get_my_notifications user as all_notifications %}
                                    {% if all_notifications|length > 0 %}
                                        {% for notif in all_notifications %}
                                            <li data-message='{{notif.id}}'  class="custom-button {% if not notif.is_seen %}not-seen-bg{% endif %}">
                                                <p>{{notif.message}}</p>
                                            </li>
                                        {% endfor %}
                                    {% else %}
                                        <li>
                                            <p>Cannot find new notifications.</p>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    {% endif %}

    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="/index">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="/index#rent_section">Rent</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="/index#reviews_section">Reviews</a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="/index#how_does_it_work">How it works</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="/index#frequently_asked_questions">FAQs</a>
                            </li>
    
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="/index#get_in_touch">Contact</a>
                            </li>

                            {% if not user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="/login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link click-scroll" href="/signup">Signup</a>
                            </li>
                            {% endif %}
                        </ul>

                        {% if user.is_authenticated %}
                        <div class="d-none d-lg-block">

                            <button class="profile-button" onclick="openMessage('desktop');">
                                <img src="{% static 'assets/images/facebook-messenger.svg' %}"/>
                                {% get_unseen_notifications user as unseen_notifications %}
                                {% if unseen_notifications > 0 %}
                                    <div class='notification-alert'>
                                            {{unseen_notifications}}
                                    </div>
                                {% endif %}
                            </button>
                            
                            
                            <button class="profile-button" onclick="openNotification('desktop');">
                                <img src="{% static 'assets/images/bell-circle.svg' %}"/>
                                {% get_unseen_notifications user as unseen_notifications %}
                                {% if unseen_notifications > 0 %}
                                    <div class='notification-alert'>
                                            {{unseen_notifications}}
                                    </div>
                                {% endif %}
                            </button>
                            

                                
                            <button class="profile-button" onclick="openProfile('desktop');">
                                {% get_my_profile user as my_profile %}
                                {% if my_profile %}
                                    <img src="{{my_profile}}"/>
                                {% else %}
                                    <img src="{% static 'assets/images/default-profile.png' %}"/>
                                {% endif %}
                            </button>

                            <div class="message-box mr-100" id="my-profile-desktop">
                                <div class='message-box-header'>
                                    <p>
                                        Profile
                                    </p>
                                </div>
                                <ul>
                                    <li>
                                        <a href="/profile">
                                            <img src="{% static 'assets/images/account-settings.svg' %}" class="h-30 w-30"/>
                                            My Profile
                                        </a>
                                    </li>
    
                                    <li>
                                        <a href="/logout">
                                            <img src="{% static 'assets/images/logout.svg' %}" class="h-30 w-30"/>
                                            Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="message-box mr-100" id="my-message-desktop">
                                <div class='message-box-header'>
                                    <p>
                                        Messages
                                    </p>
                                </div>
                                <div class='notification-scroll'>
                                    <ul>
                                        {% get_all_messages user as all_my_messages %}
                                        {% if all_my_messages|length > 0 %}
                                            {% for msg in all_my_messages %}
                                            
                                            <li class="custom-button" style='display: flex; {% if not msg.is_seen %} background-color: #c7e9fc; {% endif %}' onclick="location.href='/messages-{{msg.sender.id}}/'">
                                                {% if msg.sender.passengeraccount %}
                                                        {% if msg.sender.passengeraccount.profile %}
                                                            <img src="{{msg.sender.passengeraccount.profile}}" class='inbox-profile'/>
                                                        {% else %}
                                                            <img src="{% static 'assets/images/default-profile.png' %}" class='inbox-profile'/>
                                                        {% endif %}
                                                    {% elif msg.sender.driveraccount %}
                                                        {% if msg.sender.driveraccount.profile %}
                                                            <img src="{{msg.sender.driveraccount.profile}}" class='inbox-profile'/>
                                                        {% else %}
                                                            <img src="{% static 'assets/images/default-profile.png' %}" class='inbox-profile'/>
                                                        {% endif %}
                                                    {% else %}
                                                        {% if msg.sender.adminaccount.profile %}
                                                            <img src="{{msg.sender.adminaccount.profile}}" class='inbox-profile'/>
                                                        {% else %}
                                                            <img src="{% static 'assets/images/default-profile.png' %}" class='inbox-profile'/>
                                                        {% endif %}
                                                    {% endif %}

                                                <div style='margin-top: auto; margin-bottom: auto; margin-left: -10px;
                                                            width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;'>
                                                    <p><b>{{msg.sender.first_name}} {{msg.sender.last_name}}</b></p>
                                                    <p style='margin-top: -15px; font-size: 0.75rem;'>{{msg.message}}</p>
                                                    <p class='text-muted' style='margin-top: -15px; font-size: 0.75rem;'><i>{{msg.date_sent}}</i></p>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        {% else %}
                                        <li class="custom-button" style='display: flex;'>
                                            <img src="{% static 'assets/images/default-profile.png' %}" style='margin-top: auto; margin-bottom: auto; margin-left: 10px; width: 40px; height: 40px; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8); border-radius: 50%;'/>
                                            <div style='margin-top: auto; margin-bottom: auto; margin-left: -10px;
                                                        width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;'>
                                                <p>We couldn`t find any messages</p>
                                                <p class='text-muted' style='margin-top: -15px; font-size: 0.75rem;'><i>00, 00 0000</i></p>
                                            </div>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>

                            <div class="message-box mr-100" id="my-notification-desktop">
                                <div class='message-box-header'>
                                    <p>
                                        Notifications
                                    </p>
                                </div>
                                <div class='notification-scroll'>
                                    <ul>
                                        {% get_my_notifications user as all_notifications %}
                                        {% if all_notifications|length > 0 %}
                                            {% for notif in all_notifications %}
                                                <li data-message='{{notif.id}}'  class="custom-button {% if not notif.is_seen %}not-seen-bg{% endif %}">
                                                    <p>{{notif.message}}</p>
                                                </li>
                                            {% endfor %}
                                        {% else %}
                                            <li>
                                                <p>Cannot find new notifications.</p>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                        
                        {% endif %}
                    </div>
                </div>
            </nav>

            {% if user.is_authenticated %}
            <div class="side-bar-header">   
                <div class="side-bar" id="van-rental-sidebar">
                    <div class="van-nav-items">
                        <ul>
                            <li>
                                <a href="/index" class='display-flex'>
                                    <img src="{% static 'assets/images/home-circle.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Homepage
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/dashboard" class='display-flex'>
                                    <img src="{% static 'assets/images/monitor-dashboard.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Dashboard
                                    </div>
                                </a>
                            </li>
                            {% if not user.is_superuser %}
                            <li>
                                <a href="/rent-a-van" class='display-flex'>
                                    <img src="{% static 'assets/images/book-heart.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Rent A Van
                                    </div>
                                </a>
                            </li>
                            {% endif %}
                            {% if not user.is_superuser %}
                            <li>
                                <a href="/available-carpooling" class='display-flex'>
                                    <img src="{% static 'assets/images/car-select.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Carpooling
                                        {% get_total_open_carpool as total_open_carpool %} 
                                        {% if total_open_carpool > 0%}
                                            <div class='side-bar-circle-alert'>
                                                {{total_open_carpool}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </a>
                            </li>
                            {% endif %}
                            {% if user.is_superuser %}
                            <li>
                                <a href="/rent-booking" class='display-flex'>
                                    <img src="{% static 'assets/images/book-clock.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Open Bookings
                                        {% get_total_open_bookings as total_open_bookings %} 
                                        {% if total_open_bookings > 0%}
                                            <div class='side-bar-circle-alert'>
                                                {{total_open_bookings}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </a>
                            </li>
                            {% endif %}

                            {% if not user.is_superuser %}
                            <li>
                                <a href="/pending-booking" class='display-flex'>
                                    <img src="{% static 'assets/images/book-alert.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Pending Bookings
                                        {% get_total_pending_bookings user as total_open_bookings %} 
                                        {% if total_open_bookings > 0%}
                                            <div class='side-bar-circle-alert'>
                                                {{total_open_bookings}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </a>
                            </li>
                            {% endif %}
                            
                            <li>
                                <a href="/confirmed-booking" class='display-flex'>
                                    <img src="{% static 'assets/images/book-check.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Confirmed Bookings
                                        {% get_total_confirmed_bookings as total_confirmed_bookings %} 
                                        {% if total_confirmed_bookings > 0 %}
                                            <div class='side-bar-circle-alert'>
                                                {{total_confirmed_bookings}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="/past-booking" class='display-flex'>
                                    <img src="{% static 'assets/images/book-search.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Past Bookingss
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="/past-carpooling" class='display-flex'>
                                    <img src="{% static 'assets/images/car-search.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Past Carpooling
                                    </div>
                                </a>
                            </li>
                            
                            <li>
                                <a href="/cancelled-booking" class='display-flex'>
                                    <img src="{% static 'assets/images/book-cancel.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Cancelled Bookings
                                    </div>
                                </a>
                            </li>
                            
                            <li>
                                <a href="/rejected-booking" class='display-flex'>
                                    <img src="{% static 'assets/images/book-x.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Rejected Bookings
                                    </div>                                    
                                </a>
                            </li>

                            <li>
                                <a href="/profile" class='display-flex'>
                                    <img src="{% static 'assets/images/settings.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Settings
                                    </div>                                    
                                </a>
                            </li>
                            {% if user.is_superuser %}
                            <li>
                                <a href="/list-of-vans" class='display-flex'>
                                    <img src="{% static 'assets/images/van-icon.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        All Vans
                                    </div>                                    
                                </a>
                            </li>

                            <li>
                                <a href="/pending-drivers" class='display-flex'>
                                    <img src="{% static 'assets/images/pending-driver.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Pending Drivers
                                        {% get_total_pending_drivers as total_pending_drivers %}
                                        {% if total_pending_drivers > 0 %}
                                            <div class='side-bar-circle-alert'>
                                                {{total_pending_drivers}}
                                            </div>
                                        {% endif %}
                                    </div>                                    
                                </a>
                            </li>

                            <li>
                                <a href="/modify-landing-page-content" class='display-flex'>
                                    <img src="{% static 'assets/images/monitor-shimmer.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Modify Landing Page
                                    </div>                                    
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}


            <header class="site-header d-flex flex-column justify-content-center align-items-center -mt-50">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-12">
                            <nav aria-label="breadcrumb" style="display:flex;">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/index">Homepage</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Past Bookings</li>
                                </ol>
                            </nav>
                        </div>

                        {% for message in messages %}
                            <div class="alert alert-info alert-dismissible fade show" role="alert">
                                {{message}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}

                        <div class="container">
                            {% if all_done_bookings|length > 0 %}
                                <div class="row">
                                    {% for done_booking in all_done_bookings %}
                                        <div class="col-lg-6 col-md-6 col-12 mt-3 mb-4 mb-lg-0" id='done_booking_{{done_booking.id}}'>
                                            <div class="custom-block bg-white shadow-lg">
                                                <div>
                                                    <div class='display-flex'>
                                                        <p class="profile-button" style='box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);'> 
                                                            {% if done_booking.rented_by.profile %}
                                                                <img src="{{done_booking.rented_by.profile}}"/>
                                                            {% else %}
                                                                <img src="{% static 'assets/images/default-profile.png' %}"/>
                                                            {% endif %}
                                                        </p>
                                                        <h5 class='mt-1 ml-10'>{{done_booking.rented_by.user_id.first_name}} {{done_booking.rented_by.user_id.last_name}}</h5>
                                                    </div>

                                                    <div class='mb-3 line-height-5 mt-3'>
                                                        <p><b>Personal Information : </b></p>
                                                        <div class='ml-10'>
                                                            <p><b>Address :</b> {{done_booking.rented_by.address}}</p>
                                                            <p><b>Contact No. :</b> {{done_booking.rented_by.contact_no}} </p>
                                                            <p><b>Email :</b> {{done_booking.rented_by.user_id.email}} </p>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class='mb-2 line-height-5'>
                                                        <p><b>Booking Information : </b></p>
                                                        <div class='ml-10'>
                                                            <p><b>Budget :</b> {{done_booking.package_price}} php</p>
                                                            <p><b>From Destination :</b> {{done_booking.from_destination}} </p>
                                                            <p><b>To Destination :</b> {{done_booking.to_destination}} </p>
                                                            <p><b>Preferred Schedule :</b> {{done_booking.travel_date.date}} </p>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class='mb-2 line-height-5'>
                                                        <p><b>Assigned Driver : </b></p>
                                                        <div class='ml-10'>
                                                            <p><b>Fullname :</b> {{done_booking.driver_id.user_id.first_name}}  {{done_booking.driver_id.user_id.last_name}}</p>
                                                            <p><b>Contact No :</b>  {{done_booking.driver_id.contact_no}}  </p>
                                                            <p><b>Email :</b> {{done_booking.driver_id.user_id.email}} </p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <h4 class='text-center'>
                                                    Selected Van
                                                </h4>
                                                <div id="vanSlider{{done_booking.id}}" class="carousel slide van-slider" data-bs-ride="carousel">
                                                    <!-- Indicators/dots -->

                                                    {% all_van_images_indices done_booking.plate_no as van_images_indices %} <!-- get all the images of the van | located at templatetag-->
                                                    <div class="carousel-indicators">
                                                        {% for van_index in van_images_indices %}
                                                            {% if van_index == 0 %}
                                                                <button type="button" data-bs-target="#vanSlider{{done_booking.id}}" data-bs-slide-to="{{van_index}}" class="active"></button>
                                                            {% else %}
                                                                <button type="button" data-bs-target="#vanSlider{{done_booking.id}}" data-bs-slide-to="{{van_index}}"></button>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                
                                                    <!-- The slideshow/carousel -->
                                                    {% get_all_van_images done_booking.plate_no as all_van_images %} <!-- get all the images of the van | located at templatetag-->
                                                    <div class="carousel-inner">
                                                        {% for van_image in all_van_images %}
                                                            {% if forloop.counter0 == 0 %}
                                                                <div class="carousel-item active">
                                                                    <div class='slider-image-container'>
                                                                        <img src="{{van_image.vehicle_image}}" alt="" class="slider-image">
                                                                    </div>
                                                                </div>
                                                            {% else %}
                                                                <div class="carousel-item">
                                                                    <div class='slider-image-container'>
                                                                        <img src="{{van_image.vehicle_image}}" alt="" class="slider-image">
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                
                                                    <!-- Left and right controls/icons -->
                                                    <button class="carousel-control-prev" type="button" data-bs-target="#vanSlider{{done_booking.id}}" data-bs-slide="prev">
                                                        <span class="carousel-control-prev-icon"></span>
                                                    </button>
                                                    <button class="carousel-control-next" type="button" data-bs-target="#vanSlider{{done_booking.id}}" data-bs-slide="next">
                                                        <span class="carousel-control-next-icon"></span>
                                                    </button>

                                                    <p>
                                                        <b>Brand Name :</b> {{done_booking.plate_no.brand_name}} <br>
                                                        <b>Original Rent Price :</b> {{done_booking.plate_no.package_rent}} php<br>
                                                        <b>Plate No :</b> {{done_booking.plate_no.plate_no}} <br>
                                                    </p>
                                                </div>
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <p class="mb-2">
                                                    {{done_booking.plate_no.description}}
                                                </p>
                                                <br>
                                                <p class="mb-2">
                                                    Rent ID : {{done_booking.rent_id}}
                                                </p>
                                                <br>
                                                {% get_rental_reviews done_booking.id as all_rental_reviews %}
                                                {% if all_rental_reviews|length > 0 %}
                                                    {% for review in all_rental_reviews %}
                                                        {% if forloop.counter0 < 3 %}
                                                        <div id="1_user_comment{{forloop.counter0}}" style="display:block;">
                                                        {% else %}
                                                        <div id="1_user_comment{{forloop.counter0}}" style="display:none;">
                                                        {% endif %}
                                                            <div class='comment-section'>
                                                                {% if review.rent_id.rented_by.profile %}
                                                                    <img src="{{review.rent_id.rented_by.profile}}" class='comment-section-profile'/>
                                                                {% else %}
                                                                    <img src="{% static 'assets/images/default-profile.png' %}" class='comment-section-profile'/>
                                                                {% endif %}
                                                                
                                                                <div class='comment-box'>
                                                                    <h6 style="font-size: 0.875rem;">
                                                                        {{review.rent_id.rented_by.user_id.first_name}} 
                                                                        {{review.rent_id.rented_by.user_id.last_name}}
                                                                    </h6>
                                                                    
                                                                    <p style="font-size: 0.75rem;">
                                                                        {{review.comment}}
                                                                    </p>
                                                                    <p class="mb-0">
                                                                        Ratings : 

                                                                        {% convert_rating_to_array review.rating as my_rating%}
                                                                        {% for i in my_rating %}
                                                                            <img src="{% static 'assets/images/full-star.svg' %}" alt="Star" style="width: 20px; height: 20px; margin-right:-5px;">
                                                                        {% endfor %}
        
                                                                        {% comment %} {% if rating.1 != 0 %}
                                                                            <img src="{% static 'assets/images/half-star.svg' %}" alt="Star" style="width: 20px; height: 20px; margin-right:-5px;">
                                                                        {% endif %} {% endcomment %}
                                                                    </p>
                                                                    <p style="font-size: 0.75rem;">
                                                                        Date Recorded : {{review.date_recorded}}
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                    <button id="open-comments1_user_comments" onclick="openAllComments('1_user_comments');" class="btn custom-btn mt-2 mt-lg-3">Show more comments</button>
                                                    <button id="hide-comments1_user_comments"  onclick="hideAllComments('1_user_comments');" class="btn custom-btn mt-2 mt-lg-3" style="display:none;">Hide comments</button>
                                                    <br>
                                                    <br>
                                                    <br>
                                                {% endif %}
                                                
                                                {% if account_type == 'Passenger' %}
                                                    <form method='POST' id='reviewForm'>
                                                        {% csrf_token %}
                                                        Ratings
                                                        <div class="star-rating">
                                                            <input type="radio" id="{{done_booking.id}}_star5" name="rating" value="5">
                                                            <label for="{{done_booking.id}}_star5"></label>
                                                            <input type="radio" id="{{done_booking.id}}_star4" name="rating" value="4">
                                                            <label for="{{done_booking.id}}_star4"></label>
                                                            <input type="radio" id="{{done_booking.id}}_star3" name="rating" value="3">
                                                            <label for="{{done_booking.id}}_star3"></label>
                                                            <input type="radio" id="{{done_booking.id}}_star2" name="rating" value="2">
                                                            <label for="{{done_booking.id}}_star2"></label>
                                                            <input type="radio" id="{{done_booking.id}}_star1" name="rating" value="1">
                                                            <label for="{{done_booking.id}}_star1"></label>
                                                        </div>
                                                        
                                                        <br>
                                                        <input type='hidden' name='done_rent_id' value='{{done_booking.id}}'/>

                                                        <label>Comment / Suggestion / Review</label>
                                                        <textarea type="text" name="review_or_comment" class="form-control" placeholder="Enter your comment here" required></textarea>
                                                        <button class="btn custom-btn mt-2 mt-lg-3" type='submit'>Post Review</button>
                                                    </form>
                                                {% endif %}
                                            </div>
                                        </div>
                                        
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12 mt-3 mb-4 mb-lg-0">
                                        <div class="custom-block bg-white shadow-lg">
                                            <div class="d-flex">
                                                <div>
                                                    <div class="mb-2">
                                                        <p><i>Past Bookings not found</i></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </header>
        </main>


        <div class="modal-overlay" id="seen_message">
            <div class="modal">
                <div class="modal-body">
                    <h2 class="modal-title text-sm" id="modal-title-holder">
                        <!-- a header will be generated by the javascript -->
                    </h2>
                    <p id="modal-body-holder">
                        By proceeding, the account owner will receive an email to verify his/her address. 
                        Please inform your driver in order to verify his account.
                        <!-- this will be changed once the admin proceeds -->
                    </p>

                    <p id="modal-footer">
                        <!-- Date Recorded : 0000-00-00 -->
                    </p>
                    <button type='submit' class="form-control" onclick="closeModal('seen_message')">Close</button>
                </div>
            </div>
        </div>


        
        
        <!-- JAVASCRIPT FILES -->
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
        <script src="{% static 'assets/js/custom.js' %}"></script>

        <script src="{% static 'assets/js/form-validator.js' %}"></script>
        <script src="{% static 'assets/js/open-modal.js' %}"></script>
        <script src="{% static 'assets/js/open-notification.js' %}"></script>
        <script src="{% static 'assets/js/update-notification.js' %}"></script> 
        <script src="{% static 'assets/js/open-sidebar.js' %}"></script> 
        <script src="{% static 'assets/js/display-attached-images.js' %}"></script> 
    </body>
</html>