{% load static %}
{% load tz %}
{% load vanrental_templatetags %}
{% load pwa %}
{% progressive_web_app_meta %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Pending Booking | Passenger Connect</title>

        <!-- CSS FILES -->        
        <link rel="icon" href="{% static 'assets/images/car-favicon.svg' %}" type="image/x-icon">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">

        <link href="{% static 'assets/css/bootstrap-icons.css' %}" rel="stylesheet">

        <link href="{% static 'assets/css/templatemo-topic-listing.css' %}" rel="stylesheet">      

    </head>
    
    <body id="top">

        <main>
            
            <!-- NAVIGATION BAR -->
            {% include 'navbar.html' %}
            <!-- NAVIGATION BAR -->

            {% if user.is_authenticated %}
            <div class="side-bar-header">   
                <div class="side-bar" id="van-rental-sidebar">
                    <div class="van-nav-items">
                        <ul>
                            <li>
                                <a href="/index" class='display-flex'>
                                    <img src="{% static 'assets/images/home-circle.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Homepage
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/dashboard" class='display-flex'>
                                    <img src="{% static 'assets/images/monitor-dashboard.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Dashboard
                                    </div>
                                </a>
                            </li>
                            {% if not user.is_superuser %}
                            <li>
                                <a href="/rent-a-van" class='display-flex'>
                                    <img src="{% static 'assets/images/book-heart.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Rent A Van
                                    </div>
                                </a>
                            </li>
                            {% endif %}
                            <li>
                                <a href="/gallery" class='display-flex'>
                                    <img src="{% static 'assets/images/image-multiple.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Gallery
                                    </div>
                                </a>
                            </li>
                            {% if not user.is_superuser %}
                            <li>
                                <a href="/available-carpooling" class='display-flex'>
                                    <img src="{% static 'assets/images/car-select.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Carpooling
                                        {% get_total_open_carpool as total_open_carpool %} 
                                        {% if total_open_carpool > 0%}
                                            <div class='side-bar-circle-alert'>
                                                {{total_open_carpool}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </a>
                            </li>
                            {% endif %}
                            {% if user.is_superuser %}
                            <li>
                                <a href="/rent-booking" class='display-flex'>
                                    <img src="{% static 'assets/images/book-clock.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Open Bookings
                                        {% get_total_open_bookings as total_open_bookings %} 
                                        {% if total_open_bookings > 0%}
                                            <div class='side-bar-circle-alert'>
                                                {{total_open_bookings}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </a>
                            </li>
                            {% endif %}

                            {% if not user.is_superuser %}
                            <li>
                                <a href="/pending-booking" class='display-flex'>
                                    <img src="{% static 'assets/images/book-alert.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Pending Bookings
                                        {% get_total_pending_bookings user as total_open_bookings %} 
                                        {% if total_open_bookings > 0%}
                                            <div class='side-bar-circle-alert'>
                                                {{total_open_bookings}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </a>
                            </li>
                            {% endif %}
                            
                            <li>
                                <a href="/confirmed-booking" class='display-flex'>
                                    <img src="{% static 'assets/images/book-check.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Confirmed Bookings
                                        {% get_total_confirmed_bookings as total_confirmed_bookings %} 
                                        {% if total_confirmed_bookings > 0 %}
                                            <div class='side-bar-circle-alert'>
                                                {{total_confirmed_bookings}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="/past-booking" class='display-flex'>
                                    <img src="{% static 'assets/images/book-search.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Past Bookingss
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="/past-carpooling" class='display-flex'>
                                    <img src="{% static 'assets/images/car-search.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Past Carpooling
                                    </div>
                                </a>
                            </li>
                            
                            <li>
                                <a href="/cancelled-booking" class='display-flex'>
                                    <img src="{% static 'assets/images/book-cancel.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Cancelled Bookings
                                    </div>
                                </a>
                            </li>
                            
                            <li>
                                <a href="/rejected-booking" class='display-flex'>
                                    <img src="{% static 'assets/images/book-x.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Rejected Bookings
                                    </div>                                    
                                </a>
                            </li>

                            <li>
                                <a href="/profile" class='display-flex'>
                                    <img src="{% static 'assets/images/settings.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Settings
                                    </div>                                    
                                </a>
                            </li>
                            {% if user.is_superuser %}
                            <li>
                                <a href="/list-of-vans" class='display-flex'>
                                    <img src="{% static 'assets/images/van-icon.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        All Vans
                                    </div>                                    
                                </a>
                            </li>

                            <li>
                                <a href="/pending-drivers" class='display-flex'>
                                    <img src="{% static 'assets/images/pending-driver.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Pending Drivers
                                        {% get_total_pending_drivers as total_pending_drivers %}
                                        {% if total_pending_drivers > 0 %}
                                            <div class='side-bar-circle-alert'>
                                                {{total_pending_drivers}}
                                            </div>
                                        {% endif %}
                                    </div>                                    
                                </a>
                            </li>

                            <li>
                                <a href="/modify-landing-page-content" class='display-flex'>
                                    <img src="{% static 'assets/images/monitor-shimmer.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Modify Landing Page
                                    </div>                                    
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}


            <header class="site-header d-flex flex-column justify-content-center align-items-center -mt-50">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-12">
                            <nav aria-label="breadcrumb" style="display:flex;">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/index">Homepage</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Pending Bookings</li>
                                </ol>
                            </nav>
                        </div>

                        {% for message in messages %}
                            <div class="alert alert-info alert-dismissible fade show" role="alert">
                                {{message}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}

                        <div class="container">
                            {% if all_pending_bookings|length > 0 %}
                                <div class="row">
                                    {% for pending_booking in all_pending_bookings %}
                                        <div class="col-lg-6 col-md-6 col-12 mt-3 mb-4 mb-lg-0" id='pending_booking_{{pending_booking.id}}'>
                                            <div class="custom-block bg-white shadow-lg" id='{{pending_booking.rent_id}}'>
                                                <div>
                                                    <div class='display-flex'>
                                                        <p class="profile-button" style='box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);'> 
                                                            {% if pending_booking.rented_by.profile %}
                                                                <img src="{{pending_booking.rented_by.profile}}"/>
                                                            {% else %}
                                                                <img src="{% static 'assets/images/default-profile.png' %}"/>
                                                            {% endif %}
                                                        </p>
                                                        <h5 class='mt-1 ml-10'>{{pending_booking.rented_by.user_id.first_name}} {{pending_booking.rented_by.user_id.last_name}}</h5>
                                                    </div>

                                                    <div class='mb-3 line-height-5 mt-3'>
                                                        <p><b>Personal Information : </b></p>
                                                        <div class='ml-10'>
                                                            <p><b>Address :</b> {{pending_booking.rented_by.address}}</p>
                                                            <p><b>Contact No. :</b> {{pending_booking.rented_by.contact_no}} </p>
                                                            <p><b>Email :</b> {{pending_booking.rented_by.user_id.email}} </p>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class='mb-2 line-height-5'>
                                                        <p><b>Booking Information : </b></p>
                                                        <div class='ml-10'>
                                                            <p><b>Rent :</b> 
                                                                {% if pending_booking.package_price > 0 %}
                                                                    {{pending_booking.package_price}} php
                                                                {% else %}
                                                                    <i>waiting for admin</i>
                                                                {% endif %}
                                                            </p>
                                                            <p><b>Your Offer :</b> 
                                                                {% if pending_booking.my_offer > 0 %}
                                                                    {{pending_booking.my_offer}} php
                                                                {% elif pending_booking.is_accepted %}
                                                                        <b><i class='text-danger'>You accepted the rent price.</i></b>
                                                                {% else %}
                                                                    Not Set
                                                                {% endif %}
                                                            </p>
                                                            <p><b>From Destination :</b> {{pending_booking.from_destination}} </p>
                                                            <p><b>To Destination :</b> {{pending_booking.to_destination}} </p>
                                                            <p><b>Preferred Schedule :</b> {{pending_booking.travel_date}} </p>
                                                            <p><b>Travel Until :</b> {{pending_booking.travel_date_end}} </p>
                                                            <p><b>Pick Up Location :</b> {{pending_booking.pick_up_location}} </p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <h4 class='text-center'>
                                                    Selected Van
                                                </h4>
                                                <div id="vanSlider{{pending_booking.id}}" class="carousel slide van-slider" data-bs-ride="carousel">
                                                    <!-- Indicators/dots -->

                                                    {% all_van_images_indices pending_booking.plate_no as van_images_indices %} <!-- get all the images of the van | located at templatetag-->
                                                    <div class="carousel-indicators">
                                                        {% for van_index in van_images_indices %}
                                                            {% if van_index == 0 %}
                                                                <button type="button" data-bs-target="#vanSlider{{pending_booking.id}}" data-bs-slide-to="{{van_index}}" class="active"></button>
                                                            {% else %}
                                                                <button type="button" data-bs-target="#vanSlider{{pending_booking.id}}" data-bs-slide-to="{{van_index}}"></button>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                
                                                    <!-- The slideshow/carousel -->
                                                    {% get_all_van_images pending_booking.plate_no as all_van_images %} <!-- get all the images of the van | located at templatetag-->
                                                    <div class="carousel-inner">
                                                        {% for van_image in all_van_images %}
                                                            {% if forloop.counter0 == 0 %}
                                                                <div class="carousel-item active">
                                                                    <div class='slider-image-container'>
                                                                        <img src="{{van_image.vehicle_image}}" alt="" class="slider-image">
                                                                    </div>
                                                                </div>
                                                            {% else %}
                                                                <div class="carousel-item">
                                                                    <div class='slider-image-container'>
                                                                        <img src="{{van_image.vehicle_image}}" alt="" class="slider-image">
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                
                                                    <!-- Left and right controls/icons -->
                                                    <button class="carousel-control-prev" type="button" data-bs-target="#vanSlider{{pending_booking.id}}" data-bs-slide="prev">
                                                        <span class="carousel-control-prev-icon"></span>
                                                    </button>
                                                    <button class="carousel-control-next" type="button" data-bs-target="#vanSlider{{pending_booking.id}}" data-bs-slide="next">
                                                        <span class="carousel-control-next-icon"></span>
                                                    </button>

                                                    <p>
                                                        <b>Brand Name :</b> {{pending_booking.plate_no.brand_name}} <br>
                                                        <b>Plate No :</b> {{pending_booking.plate_no.plate_no}} <br>
                                                        <b>Color :</b> {{pending_booking.plate_no.color}} <br>
                                                        <b>No. Of Seats :</b> {{pending_booking.plate_no.number_of_seats}} <br>
                                                        <b>Air Conditioned :</b> 
                                                            {% if pending_booking.plate_no.is_airconditioned %}
                                                                YES
                                                            {% else %}
                                                                NO
                                                            {% endif %}
                                                        <br>
                                                    </p>
                                                </div>
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <br>

                                                <p class="mb-2">
                                                    {{pending_booking.plate_no.description}}
                                                </p>
                                                <br>
                                                <p class="mb-2">
                                                    Rent ID : {{pending_booking.rent_id}}
                                                </p>

                                                {% if pending_booking.is_accepted %}
                                                    <p class="mb-2">
                                                        <b>Note : </b>You accepted the rent price set by the admin. This booking is waiting for the admin to select a driver for your ride.
                                                    </p>
                                                {% endif %}
                                                
                                                {% if account_type == 'Passenger' %}
                                                    {% if pending_booking.package_price > 0 %}
                                                        {% if not pending_booking.is_accepted %}
                                                            <button class="btn custom-btn mt-2 mt-lg-3" onclick="acceptSetPriceBookingModal('{{pending_booking.id}}', '{{pending_booking.package_price}}');" >Accept</button>
                                                            <button class="btn custom-btn mt-2 mt-lg-3 btn-primary" onclick="makeOfferBookingModal('{{pending_booking.id}}', '{{pending_booking.package_price}}');" >Make an offer</button>
                                                        {% endif %}
                                                    {% endif %}
                                                    <button class="custom-btn mt-2 mt-lg-3 btn-danger" onclick="openCancelBookingModal('{{pending_booking.id}}');">Cancel</button>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12 mt-3 mb-4 mb-lg-0">
                                    <div class="custom-block bg-white shadow-lg">
                                        <div class="d-flex">
                                            <div>
                                                <div class="mb-2">
                                                    <p><i>Pending Bookings not found</i></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            {% endif %}
                        </div>
                    </div>
                </div>
            </header>
        </main>

        {% if account_type == 'Passenger' %}
        <div class="modal-overlay" id="cancel_booking">
            <div class="modal">
                <div class="modal-body">
                    <h2 class="modal-title text-sm">
                        Cancel a Booking
                    </h2>
                    
                    <div id="approve-booking-body-holder">
                        Are you sure you want to cancel this booking?
                    </div>
                    
                    <br>
                    <form method='POST' id='cancelBookingForm'>
                        {% csrf_token %}
                        <input type='hidden' name='cancel_booking_id' id='cancel_booking_id'/>
                        <button type='button' class="custom-btn mt-2 mt-lg-3 w-100" onclick="submitCancelBookingForm('cancelBookingForm');">Confirm</button>
                        <button type='button' class="custom-btn mt-2 mt-lg-3 btn-danger w-100" onclick="closeModal('cancel_booking')">Close</button>
                    </form>
                </div>
            </div>
        </div>


        <div class="modal-overlay" id="make_offer">
            <div class="modal">
                <div class="modal-body">
                    <h2 class="modal-title text-sm">
                        Make an offer
                    </h2>
                    
                    <div id="make-offer-body-holder">
                        <!-- THIS WILL CHANGE LATER -->
                    </div>
                    
                    <br>
                    <form  class="custom-form subscribe-form g-3 needs-validation" novalidate method='POST'>
                        {% csrf_token %}
                        <input type='hidden' name='booking_id_set_offer' id='booking_id_set_offer'/>
 
                        <label>Your offer:</label>
                        <input type='number' class='form-control' onchange='setPriceChecker();' min=0 name='set_offer_price' id='set_offer_price' placeholder='Set your offer ...' required/>

                        <label>Attach a Note :</label>
                        <textarea class='form-control' name='attached_note' placeholder='Set your offer ...' required></textarea>

                        <button type='submit' class="custom-btn mt-2 mt-lg-3 w-100">Set this Offer</button>
                        <button type='button' class="custom-btn mt-2 mt-lg-3 btn-danger w-100" onclick="closeModal('make_offer')">Close</button>
                    </form>
                </div>
            </div>
        </div>


        <div class="modal-overlay" id="accept_price">
            <div class="modal">
                <div class="modal-body">
                    <h2 class="modal-title text-sm">
                        Accept the set price
                    </h2>
                    
                    <div id="accept-price-body-holder">
                        <!-- THIS WILL CHANGE LATER -->
                    </div>
                    
                    <br>
                    <form  class="custom-form subscribe-form g-3 needs-validation" novalidate method='POST'>
                        {% csrf_token %}
                        <input type='hidden' name='accept_price_booking_id' id='accept_price_booking_id'/>
 
                        <button type='submit' class="custom-btn mt-2 mt-lg-3 w-100">Yes, I accept this rent</button>
                        <button type='button' class="custom-btn mt-2 mt-lg-3 btn-danger w-100" onclick="closeModal('make_offer')">Close</button>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
        
        
        <!-- JAVASCRIPT FILES -->
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
        <script src="{% static 'assets/js/custom.js' %}"></script>

        <script src="{% static 'assets/js/form-validator.js' %}"></script>
        <script src="{% static 'assets/js/open-modal.js' %}"></script>
        <script src="{% static 'assets/js/open-notification.js' %}"></script>
        <script src="{% static 'assets/js/update-notification.js' %}"></script> 
        <script src="{% static 'assets/js/open-sidebar.js' %}"></script> 
        <script src="{% static 'assets/js/display-attached-images.js' %}"></script> 
        
        <script>

            function openCancelBookingModal(booking_id){
                const modalOverlay = document.getElementById('cancel_booking');
                const modal = modalOverlay.querySelector(".modal");
                modalOverlay.classList.add("active");
                modal.classList.add("active");

                var reject_booking_id = document.getElementById('cancel_booking_id');
                reject_booking_id.value = booking_id;
            }


            function makeOfferBookingModal(id, rent){
                
                const modalOverlay = document.getElementById('make_offer');
                const modal = modalOverlay.querySelector(".modal");
                modalOverlay.classList.add("active");
                modal.classList.add("active");

                var make_offer_body_holder = document.getElementById('make-offer-body-holder');
                make_offer_body_holder.textContent = `The admin set the package price for this booking to ${rent} php`

                var booking_id_set_price = document.getElementById('booking_id_set_offer')
                booking_id_set_price.value = id;
            }

            function acceptSetPriceBookingModal(id, rent){
                
                const modalOverlay = document.getElementById('accept_price');
                const modal = modalOverlay.querySelector(".modal");
                modalOverlay.classList.add("active");
                modal.classList.add("active");

                var accept_price_body_holder = document.getElementById('accept-price-body-holder');
                accept_price_body_holder.textContent = `The admin set the package price for this booking to ${rent} php. Are you sure you want to accept it?`

                var accept_price_booking_id = document.getElementById('accept_price_booking_id')
                accept_price_booking_id.value = id;
            }


            function setPriceChecker(){
                var set_package_price = document.getElementById('set_offer_price');

                if (set_package_price.value < 1 ){
                    alert('Your offer must be greater than 0. Please try again!')
                    set_package_price.value = '';
                }
            }
            function submitCancelBookingForm(form_id){
                var form = document.getElementById(form_id);
                form.submit();
            }
        </script>


        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var fragment = window.location.hash;
            
                if (fragment) {
                    var targetId = fragment.substring(1);
            
                    var targetElement = document.getElementById(targetId);
            
                    if (targetElement) {
                        targetElement.style.transform = "scale(1.05)";
                        targetElement.style.backgroundColor = "lightblue";
            
                        // Function to remove styles on hover
                        function removeStyles() {
                            targetElement.style.transform = "";
                            targetElement.style.backgroundColor = "";
                        }
            
                        targetElement.addEventListener("mouseover", removeStyles);
                    }
                }
            });
        </script>
    </body>
</html>