{% load static %}
{% load tz %}
{% load vanrental_templatetags %}
{% load pwa %}
{% progressive_web_app_meta %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Rent Booking | Passenger Connect</title>

        <!-- CSS FILES -->        
        <link rel="icon" href="{% static 'assets/images/car-favicon.svg' %}" type="image/x-icon">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">

        <link href="{% static 'assets/css/bootstrap-icons.css' %}" rel="stylesheet">

        <link href="{% static 'assets/css/templatemo-topic-listing.css' %}" rel="stylesheet">      

    </head>
    
    <body id="top">

        <main>
            
            <!-- NAVIGATION BAR -->
            {% include 'navbar.html' %}
            <!-- NAVIGATION BAR -->

            {% if user.is_authenticated %}
            <div class="side-bar-header">   
                <div class="side-bar" id="van-rental-sidebar">
                    <div class="van-nav-items">
                        <ul>
                            <li>
                                <a href="/index" class='display-flex'>
                                    <img src="{% static 'assets/images/home-circle.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Homepage
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/dashboard" class='display-flex'>
                                    <img src="{% static 'assets/images/monitor-dashboard.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Dashboard
                                    </div>
                                </a>
                            </li>
                            {% if not user.is_superuser %}
                            <li>
                                <a href="/rent-a-van" class='display-flex'>
                                    <img src="{% static 'assets/images/book-heart.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Rent A Van
                                    </div>
                                </a>
                            </li>
                            {% endif %}
                            <li>
                                <a href="/gallery" class='display-flex'>
                                    <img src="{% static 'assets/images/image-multiple.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Gallery
                                    </div>
                                </a>
                            </li>
                            {% if not user.is_superuser %}
                            <li>
                                <a href="/available-carpooling" class='display-flex'>
                                    <img src="{% static 'assets/images/car-select.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Carpooling
                                        {% get_total_open_carpool as total_open_carpool %} 
                                        {% if total_open_carpool > 0%}
                                            <div class='side-bar-circle-alert'>
                                                {{total_open_carpool}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </a>
                            </li>
                            {% endif %}
                            {% if user.is_superuser %}
                            <li>
                                <a href="/rent-booking" class='display-flex'>
                                    <img src="{% static 'assets/images/book-clock.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Open Bookings
                                        {% get_total_open_bookings as total_open_bookings %} 
                                        {% if total_open_bookings > 0%}
                                            <div class='side-bar-circle-alert'>
                                                {{total_open_bookings}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </a>
                            </li>
                            {% endif %}

                            {% if not user.is_superuser %}
                            <li>
                                <a href="/pending-booking" class='display-flex'>
                                    <img src="{% static 'assets/images/book-alert.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Pending Bookings
                                        {% get_total_pending_bookings user as total_open_bookings %} 
                                        {% if total_open_bookings > 0%}
                                            <div class='side-bar-circle-alert'>
                                                {{total_open_bookings}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </a>
                            </li>
                            {% endif %}
                            
                            <li>
                                <a href="/confirmed-booking" class='display-flex'>
                                    <img src="{% static 'assets/images/book-check.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Confirmed Bookings
                                        {% get_total_confirmed_bookings as total_confirmed_bookings %} 
                                        {% if total_confirmed_bookings > 0 %}
                                            <div class='side-bar-circle-alert'>
                                                {{total_confirmed_bookings}}
                                            </div>
                                        {% endif %}
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="/past-booking" class='display-flex'>
                                    <img src="{% static 'assets/images/book-search.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Past Bookingss
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="/past-carpooling" class='display-flex'>
                                    <img src="{% static 'assets/images/car-search.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Past Carpooling
                                    </div>
                                </a>
                            </li>
                            
                            <li>
                                <a href="/cancelled-booking" class='display-flex'>
                                    <img src="{% static 'assets/images/book-cancel.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Cancelled Bookings
                                    </div>
                                </a>
                            </li>
                            
                            <li>
                                <a href="/rejected-booking" class='display-flex'>
                                    <img src="{% static 'assets/images/book-x.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Rejected Bookings
                                    </div>                                    
                                </a>
                            </li>

                            <li>
                                <a href="/profile" class='display-flex'>
                                    <img src="{% static 'assets/images/settings.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Settings
                                    </div>                                    
                                </a>
                            </li>
                            {% if user.is_superuser %}
                            <li>
                                <a href="/list-of-vans" class='display-flex'>
                                    <img src="{% static 'assets/images/van-icon.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        All Vans
                                    </div>                                    
                                </a>
                            </li>

                            <li>
                                <a href="/pending-drivers" class='display-flex'>
                                    <img src="{% static 'assets/images/pending-driver.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Pending Drivers
                                        {% get_total_pending_drivers as total_pending_drivers %}
                                        {% if total_pending_drivers > 0 %}
                                            <div class='side-bar-circle-alert'>
                                                {{total_pending_drivers}}
                                            </div>
                                        {% endif %}
                                    </div>                                    
                                </a>
                            </li>

                            <li>
                                <a href="/modify-landing-page-content" class='display-flex'>
                                    <img src="{% static 'assets/images/monitor-shimmer.svg' %}" class="h-30 w-30"/>
                                    <div class='side-bar-row'>
                                        Modify Landing Page
                                    </div>                                    
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}


            <header class="site-header d-flex flex-column justify-content-center align-items-center -mt-50">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-12">
                            <nav aria-label="breadcrumb" style="display:flex;">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/index">Homepage</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Open Bookings</li>
                                </ol>
                            </nav>
                        </div>

                        {% for message in messages %}
                            <div class="alert alert-info alert-dismissible fade show" role="alert">
                                {{message}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}

                        <div class="container">
                            {% if all_pending_bookings|length > 0 %}
                                <div class="row">
                                    {% for pending_booking in all_pending_bookings %}
                                        <div class="col-lg-6 col-md-6 col-12 mt-3"  id='pending_booking_{{pending_booking.id}}'>
                                            <div class="custom-block bg-white shadow-lg mb-50 mb-lg-50"  style='height: auto;' id='{{pending_booking.rent_id}}'>
                                                <div>
                                                    <div class='display-flex'>
                                                        <p class="profile-button" style='box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);'> 
                                                            {% if pending_booking.rented_by.profile %}
                                                                <img src="{{pending_booking.rented_by.profile}}"/>
                                                            {% else %}
                                                                <img src="{% static 'assets/images/default-profile.png' %}"/>
                                                            {% endif %}
                                                        </p>
                                                        <h5 class='mt-1 ml-10'>{{pending_booking.rented_by.user_id.first_name}} {{pending_booking.rented_by.user_id.last_name}}</h5>
                                                    </div>

                                                    <div class='mb-3 line-height-5 mt-3'>
                                                        <p><b>Passenger Information : </b></p>
                                                        <div class='ml-10'>
                                                            <p><b>Address :</b> {{pending_booking.rented_by.address}}</p>
                                                            <p><b>Contact No. :</b> {{pending_booking.rented_by.contact_no}} </p>
                                                            <p><b>Email :</b> {{pending_booking.rented_by.user_id.email}} </p>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class='mb-2 line-height-5'>
                                                        <p><b>Booking Information : </b></p>
                                                            <div class='ml-10'>
                                                                <p><b>Rent :</b> 
                                                                    {% if pending_booking.package_price > 0 %}
                                                                        {{pending_booking.package_price}} php
                                                                    {% else %}
                                                                        <i>waiting for admin</i>
                                                                    {% endif %}
                                                                </p>
                                                                
                                                                <p><b>Passenger Offer :</b> 
                                                                    {% if pending_booking.my_offer > 0 %}
                                                                        {{pending_booking.my_offer}} php
                                                                    {% elif pending_booking.is_accepted %}
                                                                        <b><i class='text-danger'>The passenger accepted the rent price.</i></b>
                                                                    {% else %}
                                                                        Not Set
                                                                    {% endif %}
                                                                </p>

                                                                <p><b>From Destination :</b> {{pending_booking.from_destination}} </p>
                                                                <p><b>To Destination :</b> {{pending_booking.to_destination}} </p>
                                                                <p><b>Preferred Schedule :</b> {{pending_booking.travel_date}} </p>
                                                                <p><b>Travel Until :</b> {{pending_booking.travel_date_end}} </p>
                                                                <p><b>Pick Up Location:</b> {{pending_booking.pick_up_location}} </p>
                                                            </div>
                                                    </div>
                                                </div>

                                                <h4 class='text-center'>
                                                    Selected Van
                                                </h4>
                                                <div id="vanSlider{{pending_booking.id}}" class="carousel slide van-slider" data-bs-ride="carousel">
                                                    <!-- Indicators/dots -->

                                                    {% all_van_images_indices pending_booking.plate_no as van_images_indices %} <!-- get all the images of the van | located at templatetag-->
                                                    <div class="carousel-indicators">
                                                        {% for van_index in van_images_indices %}
                                                            {% if van_index == 0 %}
                                                                <button type="button" data-bs-target="#vanSlider{{pending_booking.id}}" data-bs-slide-to="{{van_index}}" class="active"></button>
                                                            {% else %}
                                                                <button type="button" data-bs-target="#vanSlider{{pending_booking.id}}" data-bs-slide-to="{{van_index}}"></button>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                
                                                    <!-- The slideshow/carousel -->
                                                    {% get_all_van_images pending_booking.plate_no as all_van_images %} <!-- get all the images of the van | located at templatetag-->
                                                    <div class="carousel-inner">
                                                        {% for van_image in all_van_images %}
                                                            {% if forloop.counter0 == 0 %}
                                                                <div class="carousel-item active">
                                                                    <div class='slider-image-container'>
                                                                        <img src="{{van_image.vehicle_image}}" alt="" class="slider-image">
                                                                    </div>
                                                                </div>
                                                            {% else %}
                                                                <div class="carousel-item">
                                                                    <div class='slider-image-container'>
                                                                        <img src="{{van_image.vehicle_image}}" alt="" class="slider-image">
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                
                                                    <!-- Left and right controls/icons -->
                                                    <button class="carousel-control-prev" type="button" data-bs-target="#vanSlider{{pending_booking.id}}" data-bs-slide="prev">
                                                        <span class="carousel-control-prev-icon"></span>
                                                    </button>
                                                    <button class="carousel-control-next" type="button" data-bs-target="#vanSlider{{pending_booking.id}}" data-bs-slide="next">
                                                        <span class="carousel-control-next-icon"></span>
                                                    </button>

                                                    <p>
                                                        <b>Brand Name :</b> {{pending_booking.plate_no.brand_name}} <br>
                                                        <b>Plate No :</b> {{pending_booking.plate_no.plate_no}} <br>
                                                        <b>Color :</b> {{pending_booking.plate_no.color}} <br>
                                                        <b>No. Of Seats :</b> {{pending_booking.plate_no.number_of_seats}} <br>
                                                        <b>Air Conditioned :</b> 
                                                            {% if pending_booking.plate_no.is_airconditioned %}
                                                                YES
                                                            {% else %}
                                                                NO
                                                            {% endif %}
                                                        <br>
                                                    </p>
                                                </div>
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                                <br>

                                                <p class="mb-2">
                                                    {{pending_booking.plate_no.description}}
                                                </p>
                                                <br>
                                                <p class="mb-2">
                                                    Rent ID : {{pending_booking.rent_id}}
                                                </p>
                                                
                                                <form id='approveBookingForm' method='POST'>
                                                    {% csrf_token %}
                                                    <input type='hidden' name='booking_id' id='booking_id' value='{{pending_booking.id}}' />
                                                    {% get_available_drivers pending_booking.id pending_booking.travel_date pending_booking.travel_date_end as all_available_drivers %}

                                                    <select name="driver_id" class="form-control" required id="driver_id_{{pending_booking.id}}" style='display:none;'>
                                                        <option disabled selected>--- Select A Driver --- </option>
                                                        {% for driver in all_available_drivers %}
                                                            <option value={{driver.id}}>--- {{driver.user_id.first_name}} {{driver.user_id.last_name}} ({{driver.contact_no}})--- </option>
                                                        {% endfor %}
                                                    </select>
                                                </form>


                                                <form id='setPriceBookingForm' method='POST'>
                                                    {% csrf_token %}
                                                    <input type='hidden' name='booking_id' id='booking_id' value='{{pending_booking.id}}' />
                                                    
                                                    <label class="form-label" style='display: none;' id="set_rent_{{pending_booking.id}}">Set the rent
                                                        <input type="text" name="package_rent" class="form-control" placeholder="Set the rent..." required>
                                                    </label>   
                                                </form>


                                                <form id='changePriceForm' method='POST'>
                                                    {% csrf_token %}
                                                    <input type='hidden' name='booking_id' id='booking_id' value='{{pending_booking.id}}' />
                                                    
                                                    <label class="form-label" style='display: none;' id="change_price_{{pending_booking.id}}">Change Price To
                                                        <input type="text" name="change_price" class="form-control" placeholder="Change Price To..." required>
                                                    </label>   
                                                </form>

                                                <button class="btn custom-btn mt-2 mt-lg-3" id='submitButton_{{pending_booking.id}}' style='display:none;' onclick="submitApproveBookingForm('approveBookingForm_modal_{{pending_booking.id}}');" >Submit</button>
                                                
                                                <button class="btn custom-btn mt-2 mt-lg-3" id='submitSetPriceButton_{{pending_booking.id}}' style='display:none;' onclick="submitApproveBookingForm('setPriceBookingForm_modal_{{pending_booking.id}}');" >Submit</button>
                                                
                                                <button class="btn custom-btn mt-2 mt-lg-3" id='submitChangePriceButton_{{pending_booking.id}}' style='display:none;' onclick="submitApproveBookingForm('changePriceForm_modal_{{pending_booking.id}}');" >Submit</button>

                                                {% if pending_booking.package_price > 0 %}
                                                    <button class="btn custom-btn mt-2 mt-lg-3" id='approveButton_{{pending_booking.id}}' onclick="openBookingModal('{{pending_booking.id}}');">Approve</button>
                                                    <button class="btn custom-btn mt-2 mt-lg-3 btn-primary" id='changePriceButton_{{pending_booking.id}}' onclick="changePriceBookingModal('{{pending_booking.id}}');">Change Rent Price</button>
                                                {% else %}
                                                    <button class="btn custom-btn mt-2 mt-lg-3" id='setPriceButton_{{pending_booking.id}}' onclick="setPriceBookingModal('{{pending_booking.id}}');">Set Price</button>
                                                {% endif %}
                                                <button class="custom-btn mt-2 mt-lg-3 btn-danger" id='rejectButton_{{pending_booking.id}}' onclick="openRejectBookingModal('{{pending_booking.id}}');">Reject</button>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12 mt-3 mb-4 mb-lg-0">
                                    <div class="custom-block bg-white shadow-lg">
                                        <div class="d-flex">
                                            <div>
                                                <div class="mb-2">
                                                    <p><i>Pending Bookings not found</i></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            {% endif %}
                        </div>
                    </div>
                </div>
            </header>
        </main>

        <div class="modal-overlay" id="seen_message">
            <div class="modal">
                <div class="modal-body">
                    <h2 class="modal-title text-sm" id="modal-title-holder">
                        <!-- a header will be generated by the javascript -->
                    </h2>
                    <p id="modal-body-holder">
                        By proceeding, the account owner will receive an email to verify his/her address. 
                        Please inform your driver in order to verify his account.
                        <!-- this will be changed once the admin proceeds -->
                    </p>

                    <p id="modal-footer">
                        <!-- Date Recorded : 0000-00-00 -->
                    </p>
                    <button type='submit' class="custom-btn mt-2 mt-lg-3 btn-danger w-100" onclick="closeModal('seen_message')">Close</button>
                </div>
            </div>
        </div>


        <div class="modal-overlay" id="approve_booking">
            <div class="modal">
                <div class="modal-body">
                    <h2 class="modal-title text-sm">
                        Approve a Booking
                        <button class="close-btn" onclick="closeBookingModal('approve_booking')">Close</button>
                    </h2>
                    
                    <div id="approve-booking-body-holder"  style='height: auto; overflow: auto;'>
                        <!-- this will be changed once the admin proceeds -->
                    </div>
                    
                    <input type='hidden' name='modal_id' id='modal_id'/>
                </div>
            </div>
        </div>


        <div class="modal-overlay" id="change_rent_price">
            <div class="modal">
                <div class="modal-body">
                    <h2 class="modal-title text-sm">
                        Change Rent Price
                        <button class='close-btn' onclick="closeChangePriceModal('change_rent_price')">Close</button>
                    </h2>
                    
                    <div id="change-rent-price-body-holder" style='height: auto; overflow: auto;'>
                        <!-- this will be changed once the admin proceeds -->
                    </div>
                    
                    <input type='hidden' name='modal_id' id='modal_id'/>
                </div>
            </div>
        </div>

        <div class="modal-overlay" id="set_price_booking">
            <div class="modal">
                <div class="modal-body">
                    <h2 class="modal-title text-sm">
                        Set Price For This Booking
                        <button class="close-btn" onclick="closeSetPriceBookingModal('set_price_booking')">Close</button>
                    </h2>
                    
                    <div id="set-price-booking-body-holder"  style='height: auto; overflow: auto;'>
                        <!-- this will be changed once the admin proceeds -->
                    </div>
                    
                    <input type='hidden' name='modal_id' id='modal_id'/>
                </div>
            </div>
        </div>


        <div class="modal-overlay" id="reject_booking">
            <div class="modal">
                <div class="modal-body">
                    <h2 class="modal-title text-sm">
                        Reject a Booking
                        <button type='button' class="close-btn" onclick="closeModal('reject_booking')">Close</button>
                    </h2>
                    
                    <div id="approve-booking-body-holder">
                        Are you sure you want to reject this booking?
                    </div>
                    
                    <br>
                    <form method='POST' id='rejectBookingForm'>
                        {% csrf_token %}
                        <input type='hidden' name='rejected_booking_id' id='rejected_booking_id'/>
                        <button type='button' class="btn custom-btn mt-2 mt-lg-3 w-100" onclick="submitRejectBookingForm('rejectBookingForm');">Confirm</button>
                    </form>
                </div>
            </div>
        </div>
        
        
        <!-- JAVASCRIPT FILES -->
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
        <script src="{% static 'assets/js/custom.js' %}"></script>

        <script src="{% static 'assets/js/form-validator.js' %}"></script>
        <script src="{% static 'assets/js/open-modal.js' %}"></script>
        <script src="{% static 'assets/js/open-notification.js' %}"></script>
        <script src="{% static 'assets/js/update-notification.js' %}"></script> 
        <script src="{% static 'assets/js/open-sidebar.js' %}"></script> 
        <script src="{% static 'assets/js/display-attached-images.js' %}"></script> 
        <script>
        </script>
        <script>
            function openBookingModal(rent_id){
                var rejectButton = document.getElementById(`rejectButton_${rent_id}`);
                rejectButton.style.display = "none";
                
                var rejectButton = document.getElementById(`changePriceButton_${rent_id}`);
                rejectButton.style.display = "none";

                var approveButton = document.getElementById(`approveButton_${rent_id}`);
                approveButton.style.display = "none";

                var submitButton = document.getElementById(`submitButton_${rent_id}`);
                submitButton.style.display = "block";

                var select_driver = document.getElementById(`driver_id_${rent_id}`);
                select_driver.style.display = 'block';

                var content_of_parent_booking_div = document.getElementById(`pending_booking_${rent_id}`).innerHTML;
                var modifiedContent = content_of_parent_booking_div.replace(/id="approveBookingForm/g, `id="approveBookingForm_modal_${rent_id}`);
                
                var approve_booking_body_holder = document.getElementById('approve-booking-body-holder').innerHTML = modifiedContent;

                const modalOverlay = document.getElementById('approve_booking');
                const modal = modalOverlay.querySelector(".modal");
                modalOverlay.classList.add("active");
                modal.classList.add("active");

                var modal_id = document.getElementById('modal_id');
                modal_id.value = rent_id;
            }

                        
            function closeBookingModal(modal_id) {
                var modal_number = document.getElementById('modal_id');
                rent_id = modal_number.value;

                var rejectButton = document.getElementById(`rejectButton_${rent_id}`);
                rejectButton.style.display = "block";
                
                var rejectButton = document.getElementById(`changePriceButton_${rent_id}`);
                rejectButton.style.display = "block";

                var approveButton = document.getElementById(`approveButton_${rent_id}`);
                approveButton.style.display = "block";

                var submitButton = document.getElementById(`submitButton_${rent_id}`);
                submitButton.style.display = "none";

                var select_driver = document.getElementById(`driver_id_${rent_id}`);
                select_driver.style.display = 'none';

                var approve_booking_body_holder = document.getElementById('approve-booking-body-holder').innerHTML = '';

                const modalOverlay = document.getElementById(modal_id);
                const modal = modalOverlay.querySelector(".modal");
                modalOverlay.classList.remove("active");
                modal.classList.remove("active");
            }

            
            function setPriceBookingModal(rent_id){
                var rejectButton = document.getElementById(`rejectButton_${rent_id}`);
                rejectButton.style.display = "none";

                var approveButton = document.getElementById(`setPriceButton_${rent_id}`);
                approveButton.style.display = "none";

                var set_rent = document.getElementById(`set_rent_${rent_id}`);
                set_rent.style.display = 'block';

                var submitButton = document.getElementById(`submitSetPriceButton_${rent_id}`);
                submitButton.style.display = "block";

                var content_of_parent_booking_div = document.getElementById(`pending_booking_${rent_id}`).innerHTML;
                var modifiedContent = content_of_parent_booking_div.replace(/id="setPriceBookingForm/g, `id="setPriceBookingForm_modal_${rent_id}`);

                var approve_booking_body_holder = document.getElementById('set-price-booking-body-holder').innerHTML = modifiedContent;
                
                const modalOverlay = document.getElementById('set_price_booking');
                const modal = modalOverlay.querySelector(".modal");
                modalOverlay.classList.add("active");
                modal.classList.add("active");

                var modal_id = document.getElementById('modal_id');
                modal_id.value = rent_id;
            }

            function closeSetPriceBookingModal(modal_id) {
                var modal_number = document.getElementById('modal_id');
                rent_id = modal_number.value;

                var rejectButton = document.getElementById(`rejectButton_${rent_id}`);
                rejectButton.style.display = "block";

                var approveButton = document.getElementById(`setPriceButton_${rent_id}`);
                approveButton.style.display = "block";

                var submitButton = document.getElementById(`submitSetPriceButton_${rent_id}`);
                if (submitButton.classList.contains('block')){
                    submitButton.style.display = "none";
                }

                var set_rent = document.getElementById(`set_rent_${rent_id}`);
                set_rent.style.display = 'none';

                var approve_booking_body_holder = document.getElementById('set-price-booking-body-holder').innerHTML = '';

                const modalOverlay = document.getElementById(modal_id);
                const modal = modalOverlay.querySelector(".modal");
                modalOverlay.classList.remove("active");
                modal.classList.remove("active");
            }



            function changePriceBookingModal(rent_id){
                var rejectButton = document.getElementById(`approveButton_${rent_id}`);
                rejectButton.style.display = "none";

                var approveButton = document.getElementById(`rejectButton_${rent_id}`);
                approveButton.style.display = "none";

                var approveButton = document.getElementById(`changePriceButton_${rent_id}`);
                approveButton.style.display = "none";

                var set_rent = document.getElementById(`change_price_${rent_id}`);
                set_rent.style.display = 'block';

                var submitButton = document.getElementById(`submitChangePriceButton_${rent_id}`);
                submitButton.style.display = "block";

                var content_of_parent_booking_div = document.getElementById(`pending_booking_${rent_id}`).innerHTML;
                var modifiedContent = content_of_parent_booking_div.replace(/id="changePriceForm/g, `id="changePriceForm_modal_${rent_id}`);

                var approve_booking_body_holder = document.getElementById('change-rent-price-body-holder').innerHTML = modifiedContent;
                
                const modalOverlay = document.getElementById('change_rent_price');
                const modal = modalOverlay.querySelector(".modal");
                modalOverlay.classList.add("active");
                modal.classList.add("active");

                var modal_id = document.getElementById('modal_id');
                modal_id.value = rent_id;
            }


            function closeChangePriceModal(modal_id) {
                var modal_number = document.getElementById('modal_id');
                rent_id = modal_number.value;
                
                var rejectButton = document.getElementById(`approveButton_${rent_id}`);
                rejectButton.style.display = "block";

                var approveButton = document.getElementById(`rejectButton_${rent_id}`);
                approveButton.style.display = "block";

                var approveButton = document.getElementById(`changePriceButton_${rent_id}`);
                approveButton.style.display = "block";

                var set_rent = document.getElementById(`change_price_${rent_id}`);
                set_rent.style.display = 'none';

                var submitButton = document.getElementById(`submitChangePriceButton_${rent_id}`);
                submitButton.style.display = "none";

                var approve_booking_body_holder = document.getElementById('change-rent-price-body-holder').innerHTML = '';

                const modalOverlay = document.getElementById(modal_id);
                const modal = modalOverlay.querySelector(".modal");
                modalOverlay.classList.remove("active");
                modal.classList.remove("active");
            }



            


            function openRejectBookingModal(booking_id){
                const modalOverlay = document.getElementById('reject_booking');
                const modal = modalOverlay.querySelector(".modal");
                modalOverlay.classList.add("active");
                modal.classList.add("active");

                var reject_booking_id = document.getElementById('rejected_booking_id');
                reject_booking_id.value = booking_id;

                console.log(reject_booking_id.value)
            }

            function submitRejectBookingForm(form_id){
                console.log(document.getElementById(form_id))
                var form = document.getElementById(form_id);
                form.submit();
            }

        </script>


        <script>
            function submitApproveBookingForm(form_id){
                var form = document.getElementById(form_id);
                form.submit();
            }

            function setDriver(e){
                console.log(e)
            }
        </script>


        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var fragment = window.location.hash;
            
                if (fragment) {
                    var targetId = fragment.substring(1);
            
                    var targetElement = document.getElementById(targetId);
            
                    if (targetElement) {
                        targetElement.style.transform = "scale(1.05)";
                        targetElement.style.backgroundColor = "lightblue";
            
                        // Function to remove styles on hover
                        function removeStyles() {
                            targetElement.style.transform = "";
                            targetElement.style.backgroundColor = "";
                        }
            
                        targetElement.addEventListener("mouseover", removeStyles);
                    }
                }
            });
        </script>
            
            
    </body>
</html>