{% load static %}
{% load tz %}
{% load vanrental_templatetags %}
{% load pwa %}
{% progressive_web_app_meta %}

<nav class="navbar navbar-expand-lg" style="background-color: #80d0c7;">
    <div class="container">
        {% if user.is_authenticated %}
            <button class='menu-button' id="menu-btn" onclick="openSideBar();">
                <img src="{% static 'assets/images/car-menu-button.png' %}" class='h-45 w-45'/>
                <span class='passenger-connect-header'>Passenger Connect</span>
            </button>

            <button class='menu-button-x' id='close-menu-btn' onclick="closeSideBar();">
                <img src="{% static 'assets/images/car-menu-left-arrow.png' %}" class='h-45 w-45'/>
                <span class='passenger-connect-header'>Passenger Connect</span>
            </button>
        {% else %}
            <button class='menu-button' onclick="openModal('loginFirst')">
                <img src="{% static 'assets/images/car.svg' %}" class='h-45 w-45'/>
                <span class='passenger-connect-header'>Passenger Connect</span>
            </button>
        {% endif %}

        {% if user.is_authenticated %}
        <div class="d-lg-none me-4" style='margin-left: -30px;'>

            <button class="profile-button" onclick="openMessage('mobile');">
                <img src="{% static 'assets/images/facebook-messenger.svg' %}"/>
                {% get_unseen_messages user as unseen_messages %}
                {% if unseen_messages > 0 %}
                    <div class='notification-alert'>
                            {{unseen_messages}}
                    </div>
                {% endif %}
            </button>

            <button class="profile-button" onclick="openNotification('mobile');">
                <img src="{% static 'assets/images/bell-circle.svg' %}"/>
                {% get_unseen_notifications user as unseen_notifications %}
                {% if unseen_notifications > 0 %}
                    <div class='notification-alert'>
                        {{unseen_notifications}}
                    </div>
                {% endif %}
            </button>

            <button class="profile-button" onclick="openProfile('mobile');">
                {% get_my_profile user as my_profile %}
                {% if my_profile %}
                    <img src="{{my_profile}}"/>
                {% else %}
                    <img src="{% static 'assets/images/default-profile.png' %}"/>
                {% endif %}
            </button>

            <div class="message-box mr-20" id="my-profile-mobile">
                <ul>
                    <li>
                        <a href="/profile">
                            <img src="{% static 'assets/images/account-settings.svg' %}" class="h-30 w-30"/>
                            My Profile
                        </a>
                    </li>

                    <li>
                        <a href="/logout">
                            <img src="{% static 'assets/images/logout.svg' %}" class="h-30 w-30"/>
                            Logout
                        </a>
                    </li>
                </ul>
            </div>


            <div class="message-box mr-20" id="my-message-mobile">
                <div class='message-box-header'>
                    <p>
                        Messages
                    </p>
                </div>
                <div class='notification-scroll'>
                    <ul>
                        {% get_all_messages user as all_my_messages %}
                        {% if all_my_messages|length > 0 %}
                            {% for msg in all_my_messages %}
                                <li class="custom-button" style='display: flex; {% if not msg.is_seen %} background-color: #c7e9fc; {% endif %}' 
                                        {% if msg.sender != user %}
                                            onclick="location.href='/messages-{{msg.sender.id}}/'"
                                        {% else %}
                                            onclick="location.href='/messages-{{msg.receiver.id}}/'"
                                        {% endif %}>


                                        {% if msg.sender.passengeraccount %}
                                            {% if msg.sender.passengeraccount.profile %}
                                                <img src="{{msg.sender.passengeraccount.profile}}" class='inbox-profile'/>
                                            {% else %}
                                                <img src="{% static 'assets/images/default-profile.png' %}" class='inbox-profile'/>
                                            {% endif %}
                                        {% elif msg.sender.driveraccount %}
                                            {% if msg.sender.driveraccount.profile %}
                                                <img src="{{msg.sender.driveraccount.profile}}" class='inbox-profile'/>
                                            {% else %}
                                                <img src="{% static 'assets/images/default-profile.png' %}" class='inbox-profile'/>
                                            {% endif %}
                                        {% else %}
                                            {% if msg.sender.adminaccount.profile %}
                                                <img src="{{msg.sender.adminaccount.profile}}" class='inbox-profile'/>
                                            {% else %}
                                                <img src="{% static 'assets/images/default-profile.png' %}" class='inbox-profile'/>
                                            {% endif %}
                                        {% endif %}

                                    <div style='margin-top: auto; margin-bottom: auto; margin-left: -10px;
                                                width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;'>
                                        <p><b>{{msg.sender.first_name}} {{msg.sender.last_name}}</b></p>
                                        <p style='margin-top: -15px; font-size: 0.75rem;'>{{msg.message}}</p>
                                        <p class='text-muted' style='margin-top: -15px; font-size: 0.75rem;'><i>{{msg.date_sent}}</i></p>
                                    </div>
                                </li>
                            {% endfor %}
                        {% else %}
                        <li class="custom-button" style='display: flex;'>
                            <div style='margin-top: auto; margin-bottom: auto; margin-left: -10px;
                                        width: full; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;'>
                                <p>We couldn`t find any messages</p>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>


            <div class="message-box mr-20" id="my-notification-mobile">
                <div class='message-box-header'>
                    <p>
                        Notifications
                    </p>
                </div>
                <div class='notification-scroll'>
                    <ul>
                        {% get_my_notifications user as all_notifications %}
                        {% if all_notifications|length > 0 %}
                            {% for notif in all_notifications %}
                                <li data-message='{{notif.id}}'  class="custom-button {% if not notif.is_seen %}not-seen-bg{% endif %}">
                                    <p>{{notif.message}}</p>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li>
                                <p>Cannot find new notifications.</p>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        {% endif %}


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-lg-5 me-lg-auto">
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="/index">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="/index#rent_section">Rent</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="/index#reviews_section">Reviews</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="/index#how_does_it_work">How It Works</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="/index#frequently_asked_questions">FAQs</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link click-scroll" href="/index#get_in_touch">Contact</a>
                </li>

                {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link click-scroll" href="/signup">Signup</a>
                </li>
                {% endif %}
            </ul>

            {% if user.is_authenticated %}
            <div class="d-none d-lg-block">

                <button class="profile-button" onclick="openMessage('desktop');">
                    <img src="{% static 'assets/images/facebook-messenger.svg' %}"/>
                    {% get_unseen_messages user as unseen_messages %}
                    {% if unseen_messages > 0 %}
                        <div class='notification-alert'>
                                {{unseen_messages}}
                        </div>
                    {% endif %}
                </button>
                
                
                <button class="profile-button" onclick="openNotification('desktop');">
                    <img src="{% static 'assets/images/bell-circle.svg' %}"/>
                    {% get_unseen_notifications user as unseen_notifications %}
                    {% if unseen_notifications > 0 %}
                        <div class='notification-alert'>
                                {{unseen_notifications}}
                        </div>
                    {% endif %}
                </button>
                

                    
                <button class="profile-button" onclick="openProfile('desktop');">
                    {% get_my_profile user as my_profile %}
                    {% if my_profile %}
                        <img src="{{my_profile}}"/>
                    {% else %}
                        <img src="{% static 'assets/images/default-profile.png' %}"/>
                    {% endif %}
                </button>

                <div class="message-box mr-100" id="my-profile-desktop">
                    <div class='message-box-header'>
                        <p>
                            Profile
                        </p>
                    </div>
                    <ul>
                        <li>
                            <a href="/profile">
                                <img src="{% static 'assets/images/account-settings.svg' %}" class="h-30 w-30"/>
                                My Profile
                            </a>
                        </li>

                        <li>
                            <a href="/logout">
                                <img src="{% static 'assets/images/logout.svg' %}" class="h-30 w-30"/>
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="message-box mr-100" id="my-message-desktop">
                    <div class='message-box-header'>
                        <p>
                            Messages
                        </p>
                    </div>
                    <div class='notification-scroll'>
                        <ul>
                            {% get_all_messages user as all_my_messages %}
                            {% if all_my_messages|length > 0 %}
                                {% for msg in all_my_messages %}
                                    <li class="custom-button" style='display: flex; {% if not msg.is_seen %} background-color: #c7e9fc; {% endif %}' 
                                        {% if msg.sender != user %}
                                            onclick="location.href='/messages-{{msg.sender.id}}/'"
                                        {% else %}
                                            onclick="location.href='/messages-{{msg.receiver.id}}/'"
                                        {% endif %}>


                                        {% if msg.sender.passengeraccount %}
                                            {% if msg.sender.passengeraccount.profile %}
                                                <img src="{{msg.sender.passengeraccount.profile}}" class='inbox-profile'/>
                                            {% else %}
                                                <img src="{% static 'assets/images/default-profile.png' %}" class='inbox-profile'/>
                                            {% endif %}
                                        {% elif msg.sender.driveraccount %}
                                            {% if msg.sender.driveraccount.profile %}
                                                <img src="{{msg.sender.driveraccount.profile}}" class='inbox-profile'/>
                                            {% else %}
                                                <img src="{% static 'assets/images/default-profile.png' %}" class='inbox-profile'/>
                                            {% endif %}
                                        {% else %}
                                            {% if msg.sender.adminaccount.profile %}
                                                <img src="{{msg.sender.adminaccount.profile}}" class='inbox-profile'/>
                                            {% else %}
                                                <img src="{% static 'assets/images/default-profile.png' %}" class='inbox-profile'/>
                                            {% endif %}
                                        {% endif %}

                                        <div style='margin-top: auto; margin-bottom: auto; margin-left: -10px;
                                                    width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;'>
                                            <p><b>{{msg.sender.first_name}} {{msg.sender.last_name}}</b></p>
                                            <p style='margin-top: -15px; font-size: 0.75rem;'>{{msg.message}}</p>
                                            <p class='text-muted' style='margin-top: -15px; font-size: 0.75rem;'><i>{{msg.date_sent}}</i></p>
                                        </div>
                                    </li>
                                {% endfor %}
                            {% else %}
                            <li class="custom-button" style='display: flex;'>
                                <div style='margin-top: auto; margin-bottom: auto; margin-left: -10px;
                                            width: full; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;'>
                                    <p>We couldn`t find any messages</p>
                                </div>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

                <div class="message-box mr-100" id="my-notification-desktop">
                    <div class='message-box-header'>
                        <p>
                            Notifications
                        </p>
                    </div>
                    <div class='notification-scroll'>
                        <ul>
                            {% get_my_notifications user as all_notifications %}
                            {% if all_notifications|length > 0 %}
                                {% for notif in all_notifications %}
                                    <li data-message='{{notif.id}}'  class="custom-button {% if not notif.is_seen %}not-seen-bg{% endif %}">
                                        <p>{{notif.message}}</p>
                                    </li>
                                {% endfor %}
                            {% else %}
                                <li>
                                    <p>Cannot find new notifications.</p>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                
            </div>
            
            {% endif %}
        </div>
    </div>
</nav>