{% load static %}
{% load tz %}
{% load vanrental_templatetags %}
{% load pwa %}
{% progressive_web_app_meta %}


{% if user.is_authenticated %}
<div class="side-bar-header">   
    <div class="side-bar" id="van-rental-sidebar">
        <div class="van-nav-items">
            <ul>
                <li>
                    <a href="/index" class='display-flex'>
                        <img src="{% static 'assets/images/home-circle.svg' %}" class="h-30 w-30"/>
                        <div class='side-bar-row'>
                            Homepage
                        </div>
                    </a>
                </li>
                <li>
                    <a href="/dashboard" class='display-flex'>
                        <img src="{% static 'assets/images/monitor-dashboard.svg' %}" class="h-30 w-30"/>
                        <div class='side-bar-row'>
                            Dashboard
                        </div>
                    </a>
                </li>
                
                {% if not user.is_superuser %}
                <li>
                    <a href="/rent-a-van" class='display-flex'>
                        <img src="{% static 'assets/images/book-heart.svg' %}" class="h-30 w-30"/>
                        <div class='side-bar-row'>
                            Rent A Van
                        </div>
                    </a>
                </li>
                {% endif %}

                <li>
                    <a href="/gallery" class='display-flex'>
                        <img src="{% static 'assets/images/image-multiple.svg' %}" class="h-30 w-30"/>
                        <div class='side-bar-row'>
                            Gallery
                        </div>
                    </a>
                </li>

                <li>
                    <a href="/upload-gallery" class='display-flex'>
                        <img src="{% static 'assets/images/image-plus.svg' %}" class="h-30 w-30"/>
                        <div class='side-bar-row'>
                            Upload Gallery
                            {% get_total_open_carpool as total_open_carpool %} 
                            {% if total_open_carpool > 0%}
                                <div class='side-bar-circle-alert'>
                                    {{total_open_carpool}}
                                </div>
                            {% endif %}
                        </div>
                    </a>
                </li>

                {% if not user.is_superuser %}
                <li>
                    <a href="/available-carpooling" class='display-flex'>
                        <img src="{% static 'assets/images/car-select.svg' %}" class="h-30 w-30"/>
                        <div class='side-bar-row'>
                            Carpooling
                            {% get_total_open_carpool as total_open_carpool %} 
                            {% if total_open_carpool > 0%}
                                <div class='side-bar-circle-alert'>
                                    {{total_open_carpool}}
                                </div>
                            {% endif %}
                        </div>
                    </a>
                </li>
                {% endif %}

                {% if user.is_superuser %}
                <li>
                    <a href="/rent-booking" class='display-flex'>
                        <img src="{% static 'assets/images/book-clock.svg' %}" class="h-30 w-30"/>
                        <div class='side-bar-row'>
                            Open Bookings
                            {% get_total_open_bookings as total_open_bookings %} 
                            {% if total_open_bookings > 0%}
                                <div class='side-bar-circle-alert'>
                                    {{total_open_bookings}}
                                </div>
                            {% endif %}
                        </div>
                    </a>
                </li>
                {% endif %}

                {% if not user.is_superuser %}
                <li>
                    <a href="/pending-booking" class='display-flex'>
                        <img src="{% static 'assets/images/book-alert.svg' %}" class="h-30 w-30"/>
                        <div class='side-bar-row'>
                            Pending Bookings
                            {% get_total_pending_bookings user as total_open_bookings %} 
                            {% if total_open_bookings > 0%}
                                <div class='side-bar-circle-alert'>
                                    {{total_open_bookings}}
                                </div>
                            {% endif %}
                        </div>
                    </a>
                </li>
                {% endif %}
                
                <li>
                    <a href="/confirmed-booking" class='display-flex'>
                        <img src="{% static 'assets/images/book-check.svg' %}" class="h-30 w-30"/>
                        <div class='side-bar-row'>
                            Confirmed Bookings
                            {% get_total_confirmed_bookings as total_confirmed_bookings %} 
                            {% if total_confirmed_bookings > 0 %}
                                <div class='side-bar-circle-alert'>
                                    {{total_confirmed_bookings}}
                                </div>
                            {% endif %}
                        </div>
                    </a>
                </li>

                <li>
                    <a href="/past-booking" class='display-flex'>
                        <img src="{% static 'assets/images/book-search.svg' %}" class="h-30 w-30"/>
                        <div class='side-bar-row'>
                            Past Bookingss
                        </div>
                    </a>
                </li>

                <li>
                    <a href="/past-carpooling" class='display-flex'>
                        <img src="{% static 'assets/images/car-search.svg' %}" class="h-30 w-30"/>
                        <div class='side-bar-row'>
                            Past Carpooling
                        </div>
                    </a>
                </li>
                
                <li>
                    <a href="/cancelled-booking" class='display-flex'>
                        <img src="{% static 'assets/images/book-cancel.svg' %}" class="h-30 w-30"/>
                        <div class='side-bar-row'>
                            Cancelled Bookings
                        </div>
                    </a>
                </li>
                
                <li>
                    <a href="/rejected-booking" class='display-flex'>
                        <img src="{% static 'assets/images/book-x.svg' %}" class="h-30 w-30"/>
                        <div class='side-bar-row'>
                            Rejected Bookings
                        </div>                                    
                    </a>
                </li>

                <li>
                    <a href="/profile" class='display-flex'>
                        <img src="{% static 'assets/images/settings.svg' %}" class="h-30 w-30"/>
                        <div class='side-bar-row'>
                            Settings
                        </div>                                    
                    </a>
                </li>
                {% if user.is_superuser %}
                <li>
                    <a href="/list-of-vans" class='display-flex'>
                        <img src="{% static 'assets/images/van-icon.svg' %}" class="h-30 w-30"/>
                        <div class='side-bar-row'>
                            All Vans
                        </div>                                    
                    </a>
                </li>

                <li>
                    <a href="/pending-drivers" class='display-flex'>
                        <img src="{% static 'assets/images/pending-driver.svg' %}" class="h-30 w-30"/>
                        <div class='side-bar-row'>
                            Pending Drivers
                            {% get_total_pending_drivers as total_pending_drivers %}
                            {% if total_pending_drivers > 0 %}
                                <div class='side-bar-circle-alert'>
                                    {{total_pending_drivers}}
                                </div>
                            {% endif %}
                        </div>                                    
                    </a>
                </li>

                <li>
                    <a href="/modify-landing-page-content" class='display-flex'>
                        <img src="{% static 'assets/images/monitor-shimmer.svg' %}" class="h-30 w-30"/>
                        <div class='side-bar-row'>
                            Modify Landing Page
                        </div>                                    
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endif %}