{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SIGN UP | VAN RENTAL</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">VAN RENTAL</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="/index">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link   scrollto" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li>
          {% if user.is_authenticated %}
          <li><a class="nav-link scrollto text-danger" href="/logout">LOGOUT</a></li>
          {% else %}
          <li><a class="nav-link scrollto" href="/login">LOGIN</a></li>
          <li><a class="nav-link scrollto" href="/signup">SIGNUP</a></li>
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
          {% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>

  <main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        
        {% for message in messages %}
          <div class="alert alert-info alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}

        <div class='row box'>
          <div style="text-align: center; font-size: 2rem;">
            SIGNUP
          </div>
          <form class="row g-3 needs-validation" novalidate>
            
            <div class="col-md-12">
                <label class="form-label">Username</label>
                <input type="text" class="form-control" name='username' required>
                <div class="invalid-feedback">
                  Please enter your preferred username.
                </div>
            </div>
              
            <div class="col-md-12">
              <label class="form-label">First name</label>
              <input type="text" class="form-control" name='fname' required>
              <div class="invalid-feedback">
                Please enter your first name.
              </div>
            </div>

            <div class="col-md-12">
                <label class="form-label">Last name</label>
                <input type="text" class="form-control" name='lname' required>
                <div class="invalid-feedback">
                  Please your last name.
                </div>
            </div>

            <div class="col-md-12">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" name='email' required>
                <div class="invalid-feedback">
                  Please enter your email.
                </div>
            </div>
            
            <div class="col-md-12">
                <label class="form-label">Birth Date</label>
                <input type="date" class="form-control" name='bday' required>
                <div class="invalid-feedback">
                  Please enter your birthdate.
                </div>
            </div>

            <div class="col-md-12">
                <label class="form-label">Contact No.</label>
                <input type="text" class="form-control" name='contact_no' required>
                <div class="invalid-feedback">
                  Please enter your contact no.
                </div>
            </div>

            <div class="col-md-12">
                <label class="form-label">Address</label>
                <input type="text" class="form-control" name='address' required>
                <div class="invalid-feedback">
                  Please enter your address.
                </div>
            </div>

            <div class="col-md-12">
                <label class="form-label">I am a :</label>
                <select class="form-select" name="user_type" required>
                    <option selected disabled value="">Select User Type</option>
                    <option value="passenger">Passenger</option>
                    <option value="driver">Driver</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select your user type.
                  </div>
            </div>

            <div class="col-md-12">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" name='pass1' required>
                <div class="invalid-feedback">
                  Please enter your password.
                </div>
            </div>

            <div class="col-md-12">
                <label class="form-label">Confirm Password</label>
                <input type="password" class="form-control" name='pass2' required>
                <div class="invalid-feedback">
                  Please enter your password.
                </div>
            </div>

            <button class="btn btn-primary" type="submit">Signup</button>
          </form>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->
  </main><!-- End #main -->


  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

  <script>
      (function () {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
  })()
  </script>

</body>

</html>