{% load static %}
{% load tz %}
{% load vanrental_templatetags %}
{% load pwa %}
{% progressive_web_app_meta %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>{{approved.title}} | Passenger Connect</title>

        <!-- CSS FILES -->        
        <link rel="icon" href="{% static 'assets/images/car-favicon.svg' %}" type="image/x-icon">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">

        <link href="{% static 'assets/css/bootstrap-icons.css' %}" rel="stylesheet">

        <link href="{% static 'assets/css/templatemo-topic-listing.css' %}" rel="stylesheet">      

    </head>
    
    <body id="top">

        <main>
            
            <!-- NAVIGATION BAR -->
            {% include 'navbar.html' %}
            <!-- NAVIGATION BAR -->

            <!-- SIDE BAR -->
            {% include 'sidebar.html' %}
            <!-- SIDE BAR -->

            <header class="site-header d-flex flex-column justify-content-center align-items-center -mt-50">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-12">
                            <nav aria-label="breadcrumb" style="display:flex;">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/index">Homepage</a></li>
                                    <li class="breadcrumb-item active">Gallery</li>
                                    <li class="breadcrumb-item active" aria-current="page">{{approved.title}}</li>
                                </ol>
                            </nav>
                        </div>

                        {% for message in messages %}
                            <div class="alert alert-info alert-dismissible fade show" role="alert">
                                {{message}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}

                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-12 mt-3 mb-4 mb-lg-0" id='tour-title-1'>
                                    <div class="custom-block bg-white shadow-lg">
                                        <div class="d-flex">
                                            <div>
                                                <div class="mb-2">
                                                    <h5><a href='/gallery/{{approved.id}}/'>{{approved.title}}</a></h5>
                                                    <p>
                                                        <b style='color:#13547a;'>#{{ approved.tour_category.category|slugify|title|cut:'-' }}</b><br/>
                                                        {{approved.rented_van.travel_date}}
                                                    </p>
                                                </div>
    
                                            </div>
                                            <span class="badge bg-finance rounded-pill ms-auto">✔</span>
                                        </div>

                                        <div id="approvedGallery_{{approved.id}}" class="carousel slide van-slider" data-bs-ride="carousel" style='width: 100%;'>
                                            <!-- Indicators/dots -->
                                            <div class="carousel-indicators">
                                                {% get_all_approved_gallery_indices approved as approved_gallery_indices %}
                                                {% for i in approved_gallery_indices %}
                                                    {% if i == 0 %}
                                                        <button type="button" data-bs-target="#approvedGallery_{{approved.id}}" data-bs-slide-to="{{i}}" class="active"></button>
                                                    {% else %}
                                                        <button type="button" data-bs-target="#approvedGallery_{{approved.id}}" data-bs-slide-to="{{i}}"></button>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        
                                            <!-- The slideshow/carousel -->
                                            {% get_all_approved_gallery_images approved as all_approved_gallery_images %}
                                            <div class="carousel-inner" id="carousel-inner">
                                                {% for gallery_image in all_approved_gallery_images %}
                                                    {% if forloop.counter0 == 0 %}
                                                        <div class="carousel-item active">
                                                            <div class='slider-image-container'>
                                                                <img src="{{gallery_image.image}}" alt="" class="slider-image" style='height:100%; width: auto;'> 
                                                            </div>
                                                        </div>
                                                    {% else %}
                                                        <div class="carousel-item">
                                                            <div class='slider-image-container'>
                                                                <img src="{{gallery_image.image}}" alt="" class="slider-image" style='height:100%; width: auto;'>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        
                                            <!-- Left and right controls/icons -->
                                            <button class="carousel-control-prev" type="button" data-bs-target="#approvedGallery_{{approved.id}}" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon"></span>
                                            </button>
                                            <button class="carousel-control-next" type="button" data-bs-target="#approvedGallery_{{approved.id}}" data-bs-slide="next">
                                                <span class="carousel-control-next-icon"></span>
                                            </button>

                                        </div>
                                        <br>
                                        <p class="mb-2">
                                            {{approved.description}}
                                        </p>
                                        <hr/>

                                        <div class='interactions-container'>
                                            <div style='display: flex;'>
                                                {% if user.is_authenticated %}
                                                    {% get_all_heart_reactions_count user approved as all_heart_reactions_count %}
                                                    <b>{{all_heart_reactions_count}}</b>
                                                    <form method='POST'>
                                                        {% csrf_token %}
                                                        <input type='hidden' name='to_heart_react_tour_id' value='{{approved.id}}' />
                                                        <button class='heart-btn' type='submit'>
                                                            <img src="{% static 'assets/images/heart.svg' %}"/>
                                                        </button>
                                                    </form>
                                                {% else %}
                                                    {% get_all_heart_reactions_count 'None' approved as all_heart_reactions_count %}
                                                    <b>{{all_heart_reactions_count}}</b>
                                                    <button class='heart-btn'>
                                                        <img src="{% static 'assets/images/heart.svg' %}"/>
                                                    </button>
                                                {% endif %}
                                            </div>

                                            <div style='display: flex; margin-left: 20px;'>
                                                {% get_all_tour_comments approved as all_tour_comments %}
                                                <b>{{all_tour_comments|length}}</b>
                                                <button class='message-btn'>
                                                    <img src="{% static 'assets/images/message.svg' %}" style='height: 30px; width: auto;'/>
                                                </button>
                                            </div>
                                        </div>


                                        {% get_all_tour_comments approved as all_tour_comments %}
                                        {% if all_tour_comments|length > 0 %}
                                            {% for comment in all_tour_comments %}
                                                {% if forloop.counter0 < 1 %}
                                                <div id="{{approved.id}}_rental_user_comments{{forloop.counter0}}">
                                                {% else %}
                                                <div id="{{approved.id}}_rental_user_comments{{forloop.counter}}" style="display:none;">
                                                {% endif %}
                                                    <div class='comment-section'>
                                                        {% if comment.commented_by.passengeraccount.profile %}
                                                            <img src="{{comment.commented_by.passengeraccount.profile}}" class='comment-section-profile'/>
                                                        {% elif comment.commented_by.driveraccount.profile %}
                                                            <img src="{{comment.commented_by.driveraccount.profile}}" class='comment-section-profile'/>
                                                        {% elif comment.commented_by.adminaccount.profile %}
                                                            <img src="{{comment.commented_by.adminaccount.profile}}" class='comment-section-profile'/>
                                                        {% else %}
                                                            <img src="{% static 'assets/images/default-profile.png' %}" class='comment-section-profile'/>
                                                        {% endif %}
                                                        <div class='comment-box'>
                                                            <h6 style="font-size: 0.875rem;">
                                                                {{comment.commented_by.first_name}} 
                                                                {{comment.commented_by.last_name}} 
                                                            </h6>
                                                            
                                                            <p style="font-size: 0.75rem;">
                                                                {{comment.comment}}
                                                            </p>
                                                            <p style="font-size: 0.75rem; margin-bottom: 0;">
                                                                {{comment.date_commented}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}

                                            {% if all_tour_comments|length > 1 %}
                                                <button id="open-tour-comments_{{approved.id}}_rental_user_comments" onclick="openAllTourComments('{{approved.id}}_rental_user_comments');" class="btn custom-btn mt-2 mt-lg-3">Show more comments</button>
                                                <button id="hide-tour-comments_{{approved.id}}_rental_user_comments"  onclick="hideAllTourComments('{{approved.id}}_rental_user_comments');" class="btn custom-btn mt-2 mt-lg-3" style="display:none;">Hide comments</button>
                                            {% endif %}
                                            
                                            <form class="custom-form subscribe-form g-3 needs-validation" novalidate method='POST'>
                                                {% csrf_token %}
                                                <input type='hidden' name='tour_id' value='{{approved.id}}'/>

                                                <div class="new-message-container" id="scroll-to-form">
                                                    <input type="text" name="new_comment" class="form-control message-input " id="comment" required>
                                                    <button type="submit" class="message-submit-button" style='width: 40px; height: 40px;'>
                                                        <img src="{% static 'assets/images/send.svg' %}" alt="Submit">
                                                    </button>
                                                </div>
                                            </form>
                                        {% else %}
                                            <p style="font-size: 0.75rem;">No comments found</p>
                                            {% if user.is_authenticated %}
                                                <form class="custom-form subscribe-form g-3 needs-validation" novalidate method='POST'>
                                                    {% csrf_token %}
                                                    <input type='hidden' name='tour_id' value='{{approved.id}}'/>

                                                    <div class="new-message-container" id="scroll-to-form">
                                                        <input type="text" name="new_comment" class="form-control message-input " id="comment" required>
                                                        <button type="submit" class="message-submit-button" style='width: 40px; height: 40px;'>
                                                            <img src="{% static 'assets/images/send.svg' %}" alt="Submit">
                                                        </button>
                                                    </div>
                                                </form>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </main>
        

       
        
        <!-- JAVASCRIPT FILES -->
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
        <script src="{% static 'assets/js/custom.js' %}"></script>

        <script src="{% static 'assets/js/form-validator.js' %}"></script>
        <script src="{% static 'assets/js/open-tour-comments.js' %}"></script>
        <script src="{% static 'assets/js/open-modal.js' %}"></script>
        <script src="{% static 'assets/js/open-notification.js' %}"></script>
        <script src="{% static 'assets/js/update-notification.js' %}"></script> 
        <script src="{% static 'assets/js/open-sidebar.js' %}"></script> 
    </body>
</html>