{% load static %}
{% load tz %}
{% load vanrental_templatetags %}
{% load pwa %}
{% progressive_web_app_meta %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Gallery | Passenger Connect</title>

        <!-- CSS FILES -->        
        <link rel="icon" href="{% static 'assets/images/car-favicon.svg' %}" type="image/x-icon">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">

        <link href="{% static 'assets/css/bootstrap-icons.css' %}" rel="stylesheet">

        <link href="{% static 'assets/css/templatemo-topic-listing.css' %}" rel="stylesheet">      

    </head>
    
    <body id="top">

        <main>
            
            <!-- NAVIGATION BAR -->
            {% include 'navbar.html' %}
            <!-- NAVIGATION BAR -->
            
            <!-- SIDE BAR -->
            {% include 'sidebar.html' %}
            <!-- SIDE BAR -->
           
            <header class="site-header d-flex flex-column justify-content-center align-items-center -mt-50">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12 col-12">
                            <nav aria-label="breadcrumb" style="display:flex;">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/index">Homepage</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Gallery</li>
                                </ol>
                                {% if user.is_authenticated %}
                                    {% user_type_checker user as user_type %}
                                    {% if user_type == 'Driver' %}
                                        {% get_all_new_pending_gallery user as all_new_pending_galleries %}
                                        {% if all_new_pending_galleries|length > 0 %}
                                            <button type='button' class="add-btn" onclick="openNewGalleryModal('list_of_pending_gallery');">{{all_new_pending_galleries|length}} Pending Gallery</button>
                                        {% endif %}

                                        {% get_all_new_gallery user as all_new_galleries %}
                                        {% if all_new_galleries|length > 0 %}
                                            <button type='button' class="add-btn" onclick="openNewGalleryModal('list_of_tour');">{{all_new_galleries|length}} New Gallery</button>
                                        {% endif %}

                                    {% elif user_type == 'Admin' %}
                                        <button type='button' class="add-btn" onclick="openCategoryModal('category-modal');">+ Tour Category</button>

                                        {% get_all_pending_new_gallery user as all_pending_new_galleries %}
                                        {% if all_pending_new_galleries|length > 0 %}
                                            <button type='button' class="add-btn" onclick="openNewGalleryModal('pending_list_of_tour');">{{all_pending_new_galleries|length}} Pending Gallery</button>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}



                            </nav>

                        </div>

                        
                        {% for message in messages %}
                            <div class="alert alert-info alert-dismissible fade show" role="alert">
                                {{message}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}

                        <section class="search-section d-flex justify-content-center align-items-center">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-8 col-12 mx-auto">
                                        <form class="custom-form mt-4 pt-2 mb-lg-0 mb-5" role="search">
                                            <div class="input-group input-group-lg">
                                                <span class="input-group-text bi-search" id="basic-addon1">
                                                </span>
                                                <input name="tour_keyword" type="search" class="form-control" id="tour_keyword" placeholder="Enter a tour keyword" aria-label="Search">
                                                <button type="button" onclick='findSearchedWords();' class="form-control">Search</button>
                                            </div>
                                        </form>
                                    </div>
            
                                </div>
                            </div>
                        </section>


                        <div class="container">
                            <div class="row">
                                {% get_all_approved_gallery as approved_gallery  %}
                                {% if approved_gallery|length > 0 %}
                                    {% for approved in approved_gallery %}
                                        <div class="col-lg-6 col-md-6 col-12 mt-3 mb-4 mb-lg-0" id='tour-title-1'>
                                            <div class="custom-block bg-white shadow-lg">
                                                <div class="d-flex">
                                                    <div>
                                                        <div class="mb-2">
                                                            <h5><a href='/gallery/{{approved.id}}/'>{{approved.title}}</a></h5>
                                                            <p>
                                                                <b style='color:#13547a;'>#{{ approved.tour_category.category|slugify|title|cut:'-' }}</b><br/>
                                                                {{approved.rented_van.travel_date}}
                                                            </p>
                                                        </div>
            
                                                    </div>
                                                    <span class="badge bg-finance rounded-pill ms-auto">✔</span>
                                                </div>
                                                <div id="approvedGallery_{{approved.id}}" class="carousel slide van-slider" data-bs-ride="carousel">
                                                    <!-- Indicators/dots -->
                                                    <div class="carousel-indicators">
                                                        {% get_all_approved_gallery_indices approved as approved_gallery_indices %}
                                                        {% for i in approved_gallery_indices %}
                                                            {% if i == 0 %}
                                                                <button type="button" data-bs-target="#approvedGallery_{{approved.id}}" data-bs-slide-to="{{i}}" class="active"></button>
                                                            {% else %}
                                                                <button type="button" data-bs-target="#approvedGallery_{{approved.id}}" data-bs-slide-to="{{i}}"></button>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                
                                                    <!-- The slideshow/carousel -->
                                                    {% get_all_approved_gallery_images approved as all_approved_gallery_images %}
                                                    <div class="carousel-inner" id="carousel-inner">
                                                        {% for gallery_image in all_approved_gallery_images %}
                                                            {% if forloop.counter0 == 0 %}
                                                                <div class="carousel-item active">
                                                                    <div class='slider-image-container'>
                                                                        <img src="{{gallery_image.image}}" alt="" class="slider-image">
                                                                    </div>
                                                                </div>
                                                            {% else %}
                                                                <div class="carousel-item">
                                                                    <div class='slider-image-container'>
                                                                        <img src="{{gallery_image.image}}" alt="" class="slider-image">
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                
                                                    <!-- Left and right controls/icons -->
                                                    <button class="carousel-control-prev" type="button" data-bs-target="#approvedGallery_{{approved.id}}" data-bs-slide="prev">
                                                        <span class="carousel-control-prev-icon"></span>
                                                    </button>
                                                    <button class="carousel-control-next" type="button" data-bs-target="#approvedGallery_{{approved.id}}" data-bs-slide="next">
                                                        <span class="carousel-control-next-icon"></span>
                                                    </button>
                                                </div>
                                                <br>
                                                <p class="mb-2">
                                                    {{approved.description}}
                                                </p>
                                                <hr/>
        
                                                <div class='interactions-container'>
                                                    <div style='display: flex;'>
                                                        {% if user.is_authenticated %}
                                                            {% get_all_heart_reactions_count user approved as all_heart_reactions_count %}
                                                            <b>{{all_heart_reactions_count}}</b>
                                                            <form method='POST'>
                                                                {% csrf_token %}
                                                                <input type='hidden' name='to_heart_react_tour_id' value='{{approved.id}}' />
                                                                <button class='heart-btn' type='submit'>
                                                                    <img src="{% static 'assets/images/heart.svg' %}"/>
                                                                </button>
                                                            </form>
                                                        {% else %}
                                                            {% get_all_heart_reactions_count 'None' approved as all_heart_reactions_count %}
                                                            <b>{{all_heart_reactions_count}}</b>
                                                            <button class='heart-btn'>
                                                                <img src="{% static 'assets/images/heart.svg' %}"/>
                                                            </button>
                                                        {% endif %}
                                                    </div>
        
                                                    <div style='display: flex; margin-left: 20px;'>
                                                        {% get_all_tour_comments approved as all_tour_comments %}
                                                        <b>{{all_tour_comments|length}}</b>
                                                        <button class='message-btn'>
                                                            <img src="{% static 'assets/images/message.svg' %}" style='height: 30px; width: auto;'/>
                                                        </button>
                                                    </div>
                                                </div>
        
        
                                                {% get_all_tour_comments approved as all_tour_comments %}
                                                {% if all_tour_comments|length > 0 %}
                                                    {% for comment in all_tour_comments %}
                                                        {% if forloop.counter0 < 1 %}
                                                        <div id="{{approved.id}}_rental_user_comments{{forloop.counter0}}">
                                                        {% else %}
                                                        <div id="{{approved.id}}_rental_user_comments{{forloop.counter}}" style="display:none;">
                                                        {% endif %}
                                                            <div class='comment-section'>
                                                                {% if comment.commented_by.passengeraccount.profile %}
                                                                    <img src="{{comment.commented_by.passengeraccount.profile}}" class='comment-section-profile'/>
                                                                {% elif comment.commented_by.driveraccount.profile %}
                                                                    <img src="{{comment.commented_by.driveraccount.profile}}" class='comment-section-profile'/>
                                                                {% elif comment.commented_by.adminaccount.profile %}
                                                                    <img src="{{comment.commented_by.adminaccount.profile}}" class='comment-section-profile'/>
                                                                {% else %}
                                                                    <img src="{% static 'assets/images/default-profile.png' %}" class='comment-section-profile'/>
                                                                {% endif %}
                                                                <div class='comment-box'>
                                                                    <h6 style="font-size: 0.875rem;">
                                                                        {{comment.commented_by.first_name}} 
                                                                        {{comment.commented_by.last_name}} 
                                                                    </h6>
                                                                    
                                                                    <p style="font-size: 0.75rem;">
                                                                        {{comment.comment}}
                                                                    </p>
                                                                    <p style="font-size: 0.75rem; margin-bottom: 0;">
                                                                        {{comment.date_commented}}
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}

                                                    {% if all_tour_comments|length > 1 %}
                                                        <button id="open-tour-comments_{{approved.id}}_rental_user_comments" onclick="openAllTourComments('{{approved.id}}_rental_user_comments');" class="btn custom-btn mt-2 mt-lg-3">Show more comments</button>
                                                        <button id="hide-tour-comments_{{approved.id}}_rental_user_comments"  onclick="hideAllTourComments('{{approved.id}}_rental_user_comments');" class="btn custom-btn mt-2 mt-lg-3" style="display:none;">Hide comments</button>
                                                    {% endif %}
                                                    
                                                    <form class="custom-form subscribe-form g-3 needs-validation" novalidate method='POST'>
                                                        {% csrf_token %}
                                                        <input type='hidden' name='tour_id' value='{{approved.id}}'/>

                                                        <div class="new-message-container" id="scroll-to-form">
                                                            <input type="text" name="new_comment" class="form-control message-input " id="comment" required>
                                                            <button type="submit" class="message-submit-button" style='width: 40px; height: 40px;'>
                                                                <img src="{% static 'assets/images/send.svg' %}" alt="Submit">
                                                            </button>
                                                        </div>
                                                    </form>
                                                {% else %}
                                                    <p style="font-size: 0.75rem;">No comments found</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}

                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-12 mt-3 mb-4 mb-lg-0">
                                            <div class="custom-block bg-white shadow-lg">
                                                <div class="d-flex">
                                                    <div>
                                                        <div class="mb-2">
                                                            <p><i>Sorry,  we couldn't find any gallery.</i></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </main>
        
        {% if user.is_authenticated %}
            {% user_type_checker user as user_type %}
            {% if user_type == 'Driver' %}
                <div class="modal-overlay" id="list_of_tour" style="width:40%;">
                    <div class="modal">
                        <div class="modal-body">
                            <h2 class="modal-title">Available Galleries
                                <button type='button' class="close-btn" onclick="closeGalleryModal('list_of_tour')">Close</button>
                            </h2>

                            <div class="d-flex">
                                <div class="table-responsive table-x-overflow">
                                    <table class="table table-striped table-full" id='gallery_list'>
                                        <thead>
                                            <tr>
                                                <th scope="col">Rent ID</th>
                                                <th scope="col">Destination</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        {% get_all_new_gallery user as all_new_galleries %}
                                        {% for gallery in all_new_galleries %}
                                            <tbody>
                                                <td>{{gallery.rented_van.rent_id}}</td>
                                                <td>{{gallery.rented_van.to_destination}}</td>
                                                <td>{{gallery.rented_van.travel_date}}</td>
                                                <td class='display-flex'>
                                                    <button class="approve-button" onclick='openGalleryForm({{gallery.id}})' type="button">Select</button>
                                                    <button class="approve-button btn-danger ml-10" type="button">Remove</button>
                                                </td>
                                            </tbody>
                                        {% endfor %}
                                    </table>
                                    <br>
                                </div>
                            </div>


                            {% get_all_new_gallery user as all_new_galleries %}
                            {% for gallery in all_new_galleries %}
                                <div id='gallery_form_{{gallery.id}}' style='display:none;'>
                                    <p>
                                        <b>FROM : </b> {{gallery.rented_van.from_destination}}<br>
                                        <b>TO : </b> {{gallery.rented_van.to_destination}}<br>
                                        <b>TRAVEL DATE : </b> {{gallery.rented_van.travel_date}}
                                        <br>
                                        <br>
                                        <b><i>Note that : </i></b> for this to be posted, the admin must approve this.
                                        Another, the admin can modify the content of this gallery. 
                                    </p>

                                    <div id="add_gallery_{{gallery.id}}" class="carousel slide van-slider" data-bs-ride="carousel">
                                        <!-- Indicators/dots -->
                                        <div class="carousel-indicators" id='carousel-indicators'>
                                            {% comment %} <button type="button" data-bs-target="#add_van" data-bs-slide-to="0" class="active"></button>
                                            <button type="button" data-bs-target="#add_van" data-bs-slide-to="1"></button>
                                            <button type="button" data-bs-target="#add_van" data-bs-slide-to="2"></button>
                                            <button type="button" data-bs-target="#add_van" data-bs-slide-to="3"></button> {% endcomment %}
                                        </div>
                                    
                                        <!-- The slideshow/carousel -->
                                        <div class="carousel-inner" id="carousel-inner">
                                            <!-- images will go here using the format below, wherein the first image will have "active" class to activate the first child -->
        
                                            <!-- <div class="carousel-item active">
                                                <img src="{% static 'assets/images/van-icon.svg' %}" class="d-block w-100">
                                            </div> -->
                                        </div>
                                    
                                        <!-- Left and right controls/icons -->
                                        <button class="carousel-control-prev" type="button" data-bs-target="#add_gallery_{{gallery.id}}" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon"></span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#add_gallery_{{gallery.id}}" data-bs-slide="next">
                                            <span class="carousel-control-next-icon"></span>
                                        </button>
                                    </div>
        
                                    <h2 class="text-center" id='carousel_title' style='display:none;'>The images of the gallery will appear here</h2>
                                    <h2 class="text-center" id='carousel_title_1' style='font-size:1rem;'>The images of the gallery will appear here</h2>
                                    <form class="custom-form subscribe-form g-3 needs-validation" novalidate method='POST'>
                                        {% csrf_token %}
                                        <label class="form-label">Attach Images</label>
                                        <input type="file" multiple name="attached_images" class="form-control"  onchange="displayUploadedPreview(event)" required>
                                        <input type="hidden" multiple name="images" class="form-control" required>
                                        <input type="hidden" value='{{gallery.id}}' name="gallery_id"  class="form-control" required>
        
                                        <label class="form-label">Category</label>
                                        <select name="tour_category_id" class="form-control" required id="tour_category_id">
                                            {% get_all_tour_categories as all_categories %}
                                            <option disabled selected>--- Select Category --- </option>
                                                {% for category in all_categories %}
                                                    <option value="{{category.id}}">--- {{category.category}} --- </option>
                                                {% endfor %}
                                        </select>

                                        <label class="form-label">Title</label>
                                        <input type="text" name="title" class="form-control" placeholder="(ex. Exploring Baguio: A Photo Diary) ..." required>
                                        
                                        <label class="form-label">Description</label>
                                        <input type="text" name="description" class="form-control" placeholder="Enter description ..." required>
        
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button type="submit" class="form-control">Save</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>



                <div class="modal-overlay" id="list_of_pending_gallery" style="width:40%;">
                    <div class="modal">
                        <div class="modal-body">
                            <h2 class="modal-title">Pending Galleries
                                <button type='button' class="close-btn" onclick="closePendingGalleryModal('list_of_pending_gallery')">Close</button>
                            </h2>

                            <div class="d-flex">
                                <div class="table-responsive table-x-overflow">
                                    <table class="table table-striped table-full" id='pending_gallery_list'>
                                        <thead>
                                            <tr>
                                                <th scope="col">Rent ID</th>
                                                <th scope="col">Destination</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        {% get_all_new_pending_gallery user as all_new_pending_galleries %}
                                        {% for gallery in all_new_pending_galleries %}
                                            <tbody>
                                                <td>{{gallery.rented_van.rent_id}}</td>
                                                <td>{{gallery.rented_van.to_destination}}</td>
                                                <td>{{gallery.rented_van.travel_date}}</td>
                                                <td class='display-flex'>
                                                    <button class="approve-button" onclick='openPendingGalleryForm({{gallery.id}})' type="button">Select</button>
                                                    <button class="approve-button btn-danger ml-10" type="button">Remove</button>
                                                </td>
                                            </tbody>
                                        {% endfor %}
                                    </table>
                                    <br>
                                </div>
                            </div>


                            {% get_all_new_pending_gallery user as all_new_pending_galleries %}
                            {% for gallery in all_new_pending_galleries %}
                                <div id='pending_gallery_form_{{gallery.id}}' style='display:none;'>
                                    <p>
                                        <b>FROM : </b> {{gallery.rented_van.from_destination}}<br>
                                        <b>TO : </b> {{gallery.rented_van.to_destination}}<br>
                                        <b>TRAVEL DATE : </b> {{gallery.rented_van.travel_date}}
                                        <br>
                                        <br>
                                        <b><i>Note that : </i></b> for this to be posted, the admin must approve this.
                                        Another, the admin can modify the content of this gallery. 
                                    </p>

                                    <div id="add_gallery_{{gallery.id}}" class="carousel slide van-slider" data-bs-ride="carousel">
                                        <!-- Indicators/dots -->
                                        <div class="carousel-indicators" id='carousel-indicators'>
                                            {% get_all_pending_gallery_images gallery as all_images %}
                                            {% for img in all_images %}
                                                {% with forloop.counter0 as counter %}
                                                    <button type="button" data-bs-target="#add_van_{{counter}}" 
                                                        data-bs-slide-to="{{ counter }}" 
                                                        class="{% if counter == 0 %}active{% endif %}">
                                                    </button>
                                                {% endwith %}
                                            {% endfor %}
                                        </div>
                                    
                                        <!-- The slideshow/carousel -->
                                        <div class="carousel-inner" id="carousel-inner">
                                            <!-- images will go here using the format below, wherein the first image will have "active" class to activate the first child -->
                                            {% get_all_pending_gallery_images gallery as all_images %}
                                            {% for img in all_images %}
                                                {% with forloop.counter0 as counter %}
                                                    <div class="carousel-item {% if counter == 0 %}active{% endif %}">
                                                        <div class='slider-image-container'>
                                                            <img src="{{img.image}}" class="slider-image">
                                                        </div>
                                                    </div> 
                                                {% endwith %}
                                            {% endfor %}
                                        </div>
                                    
                                        <!-- Left and right controls/icons -->
                                        <button class="carousel-control-prev" type="button" data-bs-target="#add_gallery_{{gallery.id}}" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon"></span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#add_gallery_{{gallery.id}}" data-bs-slide="next">
                                            <span class="carousel-control-next-icon"></span>
                                        </button>
                                    </div>
        
                                    <h2 class="text-center" id='carousel_title' style='display:none;'>The images of the gallery will appear here</h2>
                                    <h2 class="text-center" id='carousel_title_1' style='font-size:1rem;'>The images of the gallery will appear here</h2>
                                    <form class="custom-form subscribe-form g-3 needs-validation" novalidate method='POST'>
                                        {% csrf_token %}
                                        <label class="form-label">Attach Images</label>
                                        <input type="file" multiple name="attached_images" class="form-control"  onchange="displayPendingUploadedPreview(event)">
                                        <input type="hidden" multiple name="pending_images" class="form-control">
                                        <input type="hidden" value='{{gallery.id}}' name="pending_gallery_id"  class="form-control" required>
        
                                        <label class="form-label">Category</label>
                                        <select name="pending_tour_category_id" class="form-control" required id="tour_category_id">
                                            {% get_all_tour_categories as all_categories %}
                                            <option value='{{gallery.tour_category.id}}'>--- {{gallery.tour_category.category}} --- </option>
                                                {% for category in all_categories %}
                                                    <option value="{{category.id}}">--- {{category.category}} --- </option>
                                                {% endfor %}
                                        </select>

                                        <label class="form-label">Title</label>
                                        <input type="text" name="pending_title" class="form-control" value='{{gallery.title}}' placeholder="(ex. Exploring Baguio: A Photo Diary) ..." required>
                                        
                                        <label class="form-label">Description</label>
                                        <input type="text" name="pending_description" class="form-control" value='{{gallery.description}}' placeholder="Enter description ..." required>
        
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button type="submit" class="form-control">Save</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}


            {% if user_type == 'Admin' %}
                <div class="modal-overlay" id="pending_list_of_tour" style="width:40%;">
                    <div class="modal">
                        <div class="modal-body">
                            <h2 class="modal-title">Pending Galleries
                                <button type='button' class="close-btn" onclick="closePendingGalleryModal('pending_list_of_tour')">Close</button>
                            </h2>

                            <div class="d-flex">
                                <div class="table-responsive table-x-overflow">
                                    <table class="table table-striped table-full" id='gallery_list'>
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Destination</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        {% get_all_pending_new_gallery user as all_pending_new_galleries %}
                                        {% for gallery in all_pending_new_galleries %}
                                            <tbody>
                                                <td>{{gallery.id}}</td>
                                                <td>{{gallery.rented_van.from_destination}}</td>
                                                <td>{{gallery.rented_van.travel_date}}</td>
                                                <td class='display-flex'>
                                                    <button class="approve-button" onclick='openGalleryForm({{gallery.id}})' type="button">Select</button>
                                                    <button class="approve-button btn-danger ml-10" type="button">Remove</button>
                                                </td>
                                            </tbody>
                                        {% endfor %}
                                    </table>
                                    <br>
                                </div>
                            </div>


                            {% get_all_pending_new_gallery user as all_pending_new_galleries %}
                            {% for gallery in all_pending_new_galleries %}
                                <div id='gallery_form_{{gallery.id}}' style='display:none;'>
                                    <p>
                                        <b>FROM : </b> {{gallery.rented_van.from_destination}}<br>
                                        <b>TO : </b> {{gallery.rented_van.to_destination}}<br>
                                        <b>TRAVEL DATE : </b> {{gallery.rented_van.travel_date}}
                                        <br>
                                    </p>

                                    <div id="add_gallery_{{gallery.id}}" class="carousel slide van-slider" data-bs-ride="carousel">
                                        <!-- Indicators/dots -->
                                        <div class="carousel-indicators" id='carousel-indicators'>
                                            {% get_all_pending_gallery_indices gallery as gallery_indices %}
                                            {% for i in gallery_indices %}
                                                {% if i == 0 %}
                                                    <button type="button" data-bs-target="#add_gallery_{{gallery.id}}" data-bs-slide-to="{{i}}" class="active"></button>
                                                {% else %}
                                                    <button type="button" data-bs-target="#add_gallery_{{gallery.id}}" data-bs-slide-to="{{i}}"></button>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        
                                        <!-- The slideshow/carousel -->
                                        {% get_all_pending_gallery_images gallery as all_gallery_images %}
                                        <div class="carousel-inner" id="carousel-inner">
                                            {% for gallery_image in all_gallery_images %}
                                                {% if forloop.counter0 == 0 %}
                                                    <div class="carousel-item active">
                                                        <div class='slider-image-container'>
                                                            <img src="{{gallery_image.image}}" alt="" class="slider-image">
                                                        </div>
                                                    </div>
                                                {% else %}
                                                    <div class="carousel-item">
                                                        <div class='slider-image-container'>
                                                            <img src="{{gallery_image.image}}" alt="" class="slider-image">
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                <button class='remove-btn' onclick='removeThisImage({{gallery_image.id}})'>x</button>
                                            {% endfor %}
                                        </div>
                                    
                                        <!-- Left and right controls/icons -->
                                        <button class="carousel-control-prev" type="button" data-bs-target="#add_gallery_{{gallery.id}}" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon"></span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#add_gallery_{{gallery.id}}" data-bs-slide="next">
                                            <span class="carousel-control-next-icon"></span>
                                        </button>
                                    </div>
        
                                    <h2 class="text-center font-bold" style='font-size: 1rem;'>Tour Images</h2>
                                    <br>
                                    <br>
                                    <form class="custom-form subscribe-form g-3 needs-validation" novalidate method='POST'>
                                        {% csrf_token %}
        
                                        <label class="form-label">Category</label>
                                        <select name="tour_category_id" class="form-control" required id="tour_category_id">
                                            <option value='{{gallery.tour_category.id}}'>{{gallery.tour_category.category}}</option>
                                            {% get_all_tour_categories as all_categories %}
                                            {% for category in all_categories %}
                                                <option value="{{category.id}}">--- {{category.category}} --- </option>
                                            {% endfor %}
                                        </select>

                                        <label class="form-label">Title</label>
                                        <input type="hidden" name="to_approve_gallery_id" value='{{gallery.id}}' class="form-control" required>
                                        <input type="text" name="title" class="form-control" value='{{gallery.title}}' placeholder="(ex. Exploring Baguio: A Photo Diary) ..." required>
                                        
                                        <label class="form-label">Description</label>
                                        <textarea name="description" class="form-control" style='height: 150px; border-radius: 15px;' value='{{gallery.description}}'  placeholder="Enter description ..." required>{{gallery.description}}</textarea>
        
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button type="submit" class="form-control">Approve</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>




                <div class="modal-overlay" id="category-modal" style="width:40%;">
                    <div class="modal">
                        <div class="modal-body">
                            <h2 class="modal-title">Add Tour Category
                                <button type='button' class="close-btn" onclick="closePendingGalleryModal('category-modal')">Close</button>
                            </h2>

                            <form class="custom-form subscribe-form g-3 needs-validation" novalidate method='POST'>
                                {% csrf_token %}

                                <label class="form-label">Category Name</label>
                                <input type="text" name="category_name" class="form-control" placeholder="(ex. Baguio Tour) ..." required>
                                
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="submit" class="form-control">Add</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            {% endif %}
        {% endif %}
       
        
        <!-- JAVASCRIPT FILES -->
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
        <script src="{% static 'assets/js/custom.js' %}"></script>

        <script src="{% static 'assets/js/form-validator.js' %}"></script>
        <script src="{% static 'assets/js/open-modal.js' %}"></script>
        <script src="{% static 'assets/js/open-tour-comments.js' %}"></script>
        <script src="{% static 'assets/js/open-notification.js' %}"></script>
        <script src="{% static 'assets/js/update-notification.js' %}"></script> 
        <script src="{% static 'assets/js/open-sidebar.js' %}"></script> 
        <script src="{% static 'assets/js/display-attached-images.js' %}"></script> 
        <script src="{% static 'assets/js/display-pending-attached-images.js' %}"></script> 
        {% comment %} <script src="{% static 'assets/js/display-attached-images.js' %}"></script> 
        <script src="{% static 'assets/js/display-fetched-images.js' %}"></script>  {% endcomment %}
        
        <script>
            function findSearchedWords(){
                var searched_word = document.getElementById('tour_keyword').value.toLowerCase();

                var all_titles = document.querySelectorAll('[id^="tour-title"]');

                for (var x = 0; x < all_titles.length; x++){
                    var hrefContent = all_titles[x].querySelector('h5 a').textContent;
                    
                    if (hrefContent.toLowerCase().includes(searched_word)){
                        all_titles[x].style.display = '';
                    }
                    else{
                        all_titles[x].style.display = 'none';
                    }

                    console.log('href', hrefContent)
                }
            }
        </script>


        <script>      
            
            function openCategoryModal(overlayId){
                const modalOverlay = document.getElementById(overlayId);
                const modal = modalOverlay.querySelector(".modal");
                modalOverlay.classList.add("active");
                modal.classList.add("active");
            }


            function openNewGalleryModal(overlayId){
                const modalOverlay = document.getElementById(overlayId);
                const modal = modalOverlay.querySelector(".modal");
                modalOverlay.classList.add("active");
                modal.classList.add("active");
            }


            function openGalleryForm(gallery_id){
                var all_gallery_forms = document.querySelectorAll('[id^="gallery_form_"]');
                
                
                for (var x = 0; x < all_gallery_forms.length; x++){
                    if (all_gallery_forms[x].id !== `gallery_form_${gallery_id}`){
                        all_gallery_forms[x].style.display = 'none';
                    }
                    else{
                        all_gallery_forms[x].style.display = '';
                        var gallery_list = document.getElementById('gallery_list')
                        gallery_list.style.display = 'none'
                    }
                }
                document.getElementById('carousel_title_1').textContent = 'Tour Images'
            }


            function closeGalleryModal(overlayId) {
                var gallery_list = document.getElementById('gallery_list')
                gallery_list.style.display = ''

                openGalleryForm('')

                const modalOverlay = document.getElementById(overlayId);
                const modal = modalOverlay.querySelector(".modal");
                modalOverlay.classList.remove("active");
                modal.classList.remove("active");
            }



            function openPendingGalleryForm(gallery_id){
                var all_gallery_forms = document.querySelectorAll('[id^="pending_gallery_form_"]');
                
                for (var x = 0; x < all_gallery_forms.length; x++){
                    if (all_gallery_forms[x].id !== `pending_gallery_form_${gallery_id}`){
                        all_gallery_forms[x].style.display = 'none';
                    }
                    else{
                        all_gallery_forms[x].style.display = '';
                        var gallery_list = document.getElementById('pending_gallery_list')
                        gallery_list.style.display = 'none'
                    }
                }
                document.getElementById('carousel_title_1').textContent = 'Tour Images'
            }


            function closePendingGalleryModal(overlayId) {
                var gallery_list = document.getElementById('pending_gallery_list')
                gallery_list.style.display = ''

                openGalleryForm('')

                const modalOverlay = document.getElementById(overlayId);
                const modal = modalOverlay.querySelector(".modal");
                modalOverlay.classList.remove("active");
                modal.classList.remove("active");
            }



            function closePendingGalleryModal(overlayId) {
                const modalOverlay = document.getElementById(overlayId);
                const modal = modalOverlay.querySelector(".modal");
                modalOverlay.classList.remove("active");
                modal.classList.remove("active");
            }


            function removeThisImage(image_id){

                if (confirm('Are you sure you want to delete this image?')){
                    
                    fetch(`disable-gallery-image/${image_id}/`)
                    .then(response => response.json())
                    .then(data => {
                        alert(data)
                    })
                    
                    .catch(error => {
                        alert(error);
                    });
                }
                else{
                    console.log('declined')
                }
            }
        </script>
    </body>
</html>