<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Your Page Title</title>
    
        
        
    
</head>

<body>
    <input id="scheduleDate" placeholder="Enter the date"/>


    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    
    <!-- Moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

    <!-- Bootstrap Datepicker JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>


    <script>
        var datesForDisable = ["2017-10-14","2017-10-15","2017-10-16"]

        $("[id^='scheduleDate']").datepicker({
                    format: 'yyyy-mm-dd',
                    autoclose: true,
                    weekStart: 1,
                    calendarWeeks: true,
                    todayHighlight: true,
                    datesDisabled: datesForDisable,
                    startDate: new Date()
                    })
    </script>
</body>



</html>