{% load static %}
{% load tz %}
{% load vanrental_templatetags %}
{% load pwa %}
{% progressive_web_app_meta %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Messages | Passenger Connect</title>

        <!-- CSS FILES -->        
        <link rel="icon" href="{% static 'assets/images/car-favicon.svg' %}" type="image/x-icon">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
        <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">

        <link href="{% static 'assets/css/bootstrap-icons.css' %}" rel="stylesheet">

        <link href="{% static 'assets/css/templatemo-topic-listing.css' %}" rel="stylesheet">      

    </head>
    
    <body id="top">

        <main>

            <!-- NAVIGATION BAR -->
            {% include 'navbar.html' %}
            <!-- NAVIGATION BAR -->

            <!-- SIDE BAR -->
            {% include 'sidebar.html' %}
            <!-- SIDE BAR -->

            <header class="site-header d-flex flex-column justify-content-center align-items-center -mt-50">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5 col-12">
                            <nav aria-label="breadcrumb" style="display:flex;">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/index">Homepage</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Messages</li>
                                </ol>
                            </nav>
                        </div>

                        {% for message in messages %}
                            <div class="alert alert-info alert-dismissible fade show" role="alert">
                                {{message}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}

                        <div class="container">
                            <div class="custom-block custom-block-topics-listing bg-white shadow-lg mb-5 mt-3">
                                <div class="d-flex">
                                    <div style='padding-top: 15px; padding-bottom:15px; width: 100%;'>
                                        <ul>
                                            {% get_all_messages user as all_my_messages %}
                                            {% if all_my_messages|length > 0 %}
                                                {% for msg in all_my_messages %}
                                                
                                                <li class="custom-button" style='margin-left: -30px; border-bottom: 1px solid black; display: flex; {% if not msg.is_seen %} background-color: #c7e9fc; {% endif %}' onclick="location.href='/messages-{{msg.sender.id}}/'">
                                                    {% if msg.sender.passengeraccount %}
                                                            {% if msg.sender.passengeraccount.profile %}
                                                                <img src="{{msg.sender.passengeraccount.profile}}" class='inbox-profile'/>
                                                            {% else %}
                                                                <img src="{% static 'assets/images/default-profile.png' %}" class='inbox-profile'/>
                                                            {% endif %}
                                                        {% elif msg.sender.driveraccount %}
                                                            {% if msg.sender.driveraccount.profile %}
                                                                <img src="{{msg.sender.driveraccount.profile}}" class='inbox-profile'/>
                                                            {% else %}
                                                                <img src="{% static 'assets/images/default-profile.png' %}" class='inbox-profile'/>
                                                            {% endif %}
                                                        {% else %}
                                                            {% if msg.sender.adminaccount.profile %}
                                                                <img src="{{msg.sender.adminaccount.profile}}" class='inbox-profile'/>
                                                            {% else %}
                                                                <img src="{% static 'assets/images/default-profile.png' %}" class='inbox-profile'/>
                                                            {% endif %}
                                                        {% endif %}
    
                                                    <div style='margin-top: 10px; margin-bottom: auto; margin-left: 20px;
                                                                width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;'>
                                                        <p><b>{{msg.sender.first_name}} {{msg.sender.last_name}}</b></p>
                                                        <p style='margin-top: -15px; font-size: 0.75rem;'>{{msg.message}}</p>
                                                        <p class='text-muted' style='margin-top: -15px; font-size: 0.75rem;'><i>{{msg.date_sent}}</i></p>
                                                    </div>
                                                </li>
                                                {% endfor %}
                                            {% else %}
                                            <li class="custom-button" style='display: flex;'>
                                                <img src="{% static 'assets/images/default-profile.png' %}" style='margin-top: auto; margin-bottom: auto; margin-left: 10px; width: 40px; height: 40px; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8); border-radius: 50%;'/>
                                                <div style='margin-top: auto; margin-bottom: auto; margin-left: 10px;
                                                            width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;'>
                                                    <p>We couldn`t find any messages</p>
                                                    <p class='text-muted' style='margin-top: -15px; font-size: 0.75rem;'><i>00, 00 0000</i></p>
                                                </div>
                                            </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </main>

        
        
        
        <!-- JAVASCRIPT FILES -->
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.sticky.js' %}"></script>
        <script src="{% static 'assets/js/custom.js' %}"></script>
        
        <script src="{% static 'assets/js/open-notification.js' %}"></script>
        <script src="{% static 'assets/js/open-sidebar.js' %}"></script> 
    </body>
</html>